@font-face {
  font-family: 'Calibri';
  src: url('../fonts/calibri/calibri.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/calibri/calibri.woff') format('woff'), 
  url('../fonts/calibri/calibri.ttf') format('truetype'), 
  url('../fonts/calibri/calibri.svg#calibri') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Calibri';
  src: url('../fonts/calibri/calibri-bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/calibri/calibri-bold.woff') format('woff'), 
  url('../fonts/calibri/calibri-bold.ttf') format('truetype'), 
  url('../fonts/calibri/calibri-bold.svg#calibri') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Calibri';
  src: url('../fonts/calibri/calibri-light.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/calibri/calibri-light.woff') format('woff'), 
  url('../fonts/calibri/calibri-light.ttf') format('truetype'), 
  url('../fonts/calibri/calibri-light.svg#calibri') format('svg');
  font-weight: 100;
  font-style: normal;
}