/*Feedback________________________________________________________________________________*/
.bg_feedback{
	background: url('/upload/img/bg_main.jpg') no-repeat 50% 0;
}
.blc_pn_top{
	margin: 187px 0 85px;
}
.blc_pn_top h2{
	margin: 0 0 0;
}
.blc_pn_top h2.hd{
	display: none;
}
ul.blc_pn_top_list{
	text-align: center;
	font-size: 0;
	margin-top: 115px;
}
ul.blc_pn_top_list li{
	display: inline-block;
	width: 50%;
	text-align: left;
}
ul.blc_pn_top_list li p{
	font-family: 'MyriadPro';
	font-size: 16px;
	line-height: 18px;
	color: #000;	
	margin: 10px 0 25px;
}
ul.blc_pn_top_list li p:last-child{
	margin-bottom: 0;
}
.ftabs {
	list-style: none;
	font-size: 0;
	position: relative;
	text-align: center;
}
.ftabs li {
	display: inline-block;
	padding: 0 20px;
	color: #000;
	cursor: pointer;
	position: relative;
	font-weight: normal;
	text-align: center;
	width: 33%;
	height: 230px;
	height: 230px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;	
}
.ftabs li:hover{
	color: #000;
	padding: 0 20px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;	
}
.ftabs .active {
	color: #000;
	padding: 0 20px;
}
.ftabs li p.big_int{
	border: 1px solid #bbbbbb;
	color: #bbbbbb;
	border-radius: 100%;
	width: 115px;
	height: 115px;
	line-height: 115px;
	margin: auto;
}
.ftabs li p.big_int span{
	font-family: 'Avenir';
	font-weight: 100;
	font-size: 55px;
	line-height: 115px;
	color: #000;
	margin: 0 0 0 10px;	
}
.ftabs li p, .ftabs li p a{
	font-family: 'MyriadPro';
	font-size: 16px;
	line-height: 18px;
	color: #000;
	margin: 35px 0 0;
	text-decoration: none;
	position: relative;
}
.ftabs li p.hd{
	display: none;
}
.ftabs .active p:before{
	content: "";
	position: absolute;
	background: #07c96d;
	border-radius: 100%;
	width: 18px;
	height: 18px;
	top: 60px;
	left: 0;
	right: 0;
	margin: auto;
}
.ftabs p:before{
	content: '';
	position: absolute;
	background: #d1d1d1;
	border-radius: 100%;
	width: 18px;
	height: 18px;	
	top: 60px;
	left: 0;
	right: 0;
	margin: auto;
}
.ftabs .active p.big_int:before, .ftabs p.big_int:before{
	display: none;
}
.blc_ftabs_cnt{
	display: none;
}
.blc_ftabs_cnt{	
}
.blc_ftabs_cnt.active {
	display: block;
	margin: 100px 0 0;	
}
ul.blc_big_form{
	font-size: 0;
}
ul.blc_big_form > li{
	display: inline-block;
	width: 53%;
}
ul.blc_big_form > li:first-child{
	text-align: right;
	width: 47%;
}
ul.blc_big_form > li .desc{
    margin: -11px 30px 0 0;	
}
ul.blc_big_form > li .desc h4{
	font-family: 'PTSans';
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: #3a3f47;
}
ul.blc_big_form > li .desc h4.cnt_data{
	margin: 84px 0 0;
}
ul.blc_big_form > li .desc h4.cnt_info{
	margin: 325px 0 0;
}
ul.blc_big_form > li .desc h4.cnt_sms{
	margin: 590px 0 0;
}
ul.chosen-results{}
ul.chosen-results li{
	width: 100%;
	color: #000;
}
ul.chosen-results li:first-child {
    text-align: left;
}
.chosen-container-single .chosen-single{
    background: #fff;
    box-shadow: none;
    height: 50px;
    line-height: 50px;
    border: 1px solid #a6a5a5;
    border-radius: 25px;
	padding: 0 0 0 20px;
	color: #9e9e9e;
	font-family: 'MyriadPro';
	font-size: 14px;
}
.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #a6a5a5;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    background-image: none;
	background: #fff;
    box-shadow: none;
	padding: 0 0 0 20px;
}
.chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/form/farrow_btm.png') no-repeat 0px 0px;
}
.chosen-container-single .chosen-single div {
    position: absolute;
    top: 23px;
    right: 0;
    display: block;
    width: 30px;
    height: 100%;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  	background: url('../images/form/farrow_top.png') no-repeat 0px 0px;
}
.chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 25px 25px;
    background-clip: padding-box;
}
.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 10;
    width: 100%;
    border: 1px solid #a6a5a5;
    border-top: 0;
    background: #fff;
    box-shadow: none;
	border-radius: 0 0 25px 25px;
}
.chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 15px 20px 0;
    padding: 0 0 0 16px;
    max-height: 240px;
	font-family: 'MyriadPro';
	font-size: 14px;	
	z-index: 10 !important;
    -webkit-overflow-scrolling: touch;	
}
.chosen-container .chosen-results li{
	z-index: 9 !important;
	position: relative;
	width: 80% !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;	
}
.chosen-container .chosen-results li:hover{
	color: #54d28c; 
}
.chosen-container .chosen-results li.highlighted {
    background-color: #fff;
    background-image: none;
    color: #54d28c;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;	
}
.chosen-drop .nicescroll-rails {
    margin-left: -3px;
    width: 1px !important;
    background: #494949 !important;
    display: block;
	z-index: 100 !important;
	position: relative;
}
.chosen-drop .nicescroll-rails div {
    float: none !important;
    display: block;
    border: 0 !important;
    border-radius: 0 !important;
    width: 1px !important;
    height: 40px !important;
    height: 240px !important;
    background: transparent !important;
}
.chosen-drop .nicescroll-rails div:before {
    display: block;
    content: '';
    width: 42px;
    height: 40px;
    background: url(../images/form/radio_btn.png) 0 0 no-repeat !important;
    position: absolute;
    top: -12px;
    left: -20px;
    cursor: pointer;
}
ul.blc_big_form li form p{
	font-family: 'MyriadPro';
	font-weight: normal;
	font-size: 15px;
	line-height: 15px;
	color: #000;
	margin: 0 0 15px;
}
ul.blc_big_form li form .row{
	margin-top: 35px;
}

input.star + label span:after, .labstar span:after{
	content:"";
	font-size: 14px;
	display: inline-block;
	margin: 0px 0 5px 5px;
	background: url('../images/form/star.png') no-repeat 0 0;
	width: 6px;
	height: 6px;
}
input.star::-moz-placeholder:after{
	color:#ff0006;
	content:" *";
	font-size: 14px;
	top: -3px;
	left: 75px;
	display: inline-block;
	position: absolute;
} /* firefox 19+ */
input.star:-ms-input-placeholder:after{
	color:#ff0006;
	content:" *";
	font-size: 14px;
	top: -3px;
	left: 75px;
	display: inline-block;
	position: absolute;
} /* ie */
input.star:-moz-placeholder:after{
	color:#ff0006;
	content:" *";
	font-size: 14px;
	top: -3px;
	left: 75px;
	display: inline-block;
	position: absolute;
}	
/* Juro--------------------------------------------------------------*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0;
	width: 100%;
	vertical-align: top;
}
.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "MyriadPro";
	-webkit-appearance: none; /* for box shadows to show on iOS */
}
.input__field:focus {
	outline: none;
}
.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #9e9e9e;
	font-size: 14px;
	font-family: "MyriadPro";
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}
.input--juro {
	overflow: hidden;
}
.input__field--juro {
	position: absolute;
	z-index: 100;
	padding: 18px 20px;
	width: 100%;
	background: transparent;
	color: #000;
	font-size: 14px;
	font-family: "MyriadPro";
	font-weight: normal;
}
.input__label--juro {
	padding: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	text-align: left;
	border-radius: 30px;
	border: 1px solid #a6a5a5;
	margin-bottom: 0;
}
.input__label-content--juro {
	padding: 2em 1em;
	padding: 17px 0px 17px 20px;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s, color 0.3s;
	transition: transform 0.3s, color 0.3s;
	text-rendering: geometricPrecision;
}
.input__label--juro::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0px solid transparent;
    border: 1px solid #a6a5a5;
    border-radius: 30px;	
	-webkit-transition: border-width 0.3s, border-color 0.3s;
	transition: border-width 0.3s, border-color 0.3s;
}
.input__field--juro:focus + .input__label--juro::before, .input--filled .input__label--juro::before {
    border-width: 1px;
    border-color: #54d28c;
    border-top-width: 1px;	
}
.input__field--juro:focus + .input__label--juro::before, .input--filled .input__label--juro::before {
    border-width: 1px;
    border-color: #54d28c;
    border-top-width: 1px;		
}
.input__field--juro:focus + .input__label--juro .input__label-content--juro, 
.input--filled .input__label--juro .input__label-content--juro {
	color: #54d28c;
	-webkit-transform: translate3d(0, -18px, 0) scale3d(1, 1, 1) translateZ(1px);
	transform: translate3d(0, -18px, 0) scale3d(1, 1, 1) translateZ(1px);
	font-size: 12px;
}


.error.input__field--juro:focus + .input__label--juro::before, .error.input--filled .input__label--juro::before {
    border-width: 1px;
    border-color: #f00;
    border-top-width: 1px;		
}
.error.input__field--juro:focus + .input__label--juro .input__label-content--juro, 
.error.input--filled .input__label--juro .input__label-content--juro {
	color: #f00;

}
.error.input__field--juro:focus + .input__label--juro::before, .error.input--filled .input__label--juro::before {
    border-color: #f00;
}
/*.bgcolor-6 { background: #2fa8ec; color: #fff;}*/
/*end juro--------------------------------------------------------------------*/
ul.blc_big_form li ul.intu{
	font-size: 0;
}
ul.blc_big_form li ul.intu li{
	display: inline-block;
	width: 30%;
	margin: 0 26px 0 0;
}
ul.blc_big_form li ul.intu li:last-child{
	margin-right: 0;
}
ul.blc_big_form li ul.intu.one_li li {
    display: inline-block;
    width: 100%;
    margin: 0;
}
ul.blc_big_form li ul.intu.two_li li {
    display: inline-block;
    width: 47.6%;
    margin: 0 26px 0 0;
}
ul.blc_big_form li ul.intu.two_li li:last-child{
	margin-right: 0;
}
ul.blc_big_form li ul.intu.two_li li ul.in_two{
	font-size: 0;
}
ul.blc_big_form li ul.intu.two_li li ul.in_two li{
	 width: 45.05%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {  
	ul.blc_big_form li ul.intu.two_li li ul.in_two li{
		 width: 45%;
	}
}
.tform input::-webkit-input-placeholder {color:#a6a5a5;}
.tform input::-moz-placeholder          {color:#a6a5a5;}/* Firefox 19+ */
.tform input:-moz-placeholder           {color:#a6a5a5;}/* Firefox 18- */
.tform input:-ms-input-placeholder      {color:#a6a5a5;}
textarea::-webkit-input-placeholder {color:#a6a5a5;}
textarea::-moz-placeholder          {color:#a6a5a5;}/* Firefox 19+ */
textarea:-moz-placeholder           {color:#a6a5a5;}/* Firefox 18- */
textarea:-ms-input-placeholder      {color:#a6a5a5;}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.spinner_t {
    position: absolute;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
	z-index: 999;
	background: url('../images/form/sp_ar.png') no-repeat -14px 0;
	top: 16px;
    right: 21px;
    width: 11px;
    height: 6px;	
}
.spinner_t.active{
	background-position: -14px 0;
}
.spinner_b {
    position: absolute;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
	z-index: 999;
    background: url('../images/form/sp_ar.png') no-repeat 0 -10px;
	top: 31px;
    right: 21px;
    width: 11px;
    height: 6px;	
}
.spinner_b.active{
	background-position: 0 0;
}
.input--filled .spinner_t{
	background-position: -14px -9px;
}
.input--filled .spinner_t.active{
	background-position: -14px 0;
}
.in_two li input[type=radio].css-checkbox {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}

.in_two li input[type=radio].css-checkbox + label.css-label {
	padding-left:25px;
	height:20px; 
	display:inline-block;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
    font-family: 'MyriadPro';
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #9e9e9e;	
}
.in_two li input[type=radio].css-checkbox + label.css-label span{
	color: #9e9e9e;
}
.in_two li input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -20px;
}
.in_two li input[type=radio].css-checkbox:checked + label.css-label span{
	color: #000;
}
.in_two li label.css-label {
	background-image:url('../images/form/csscheckbox.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.in_two li label.css-label span{
    margin: 3px 0 0px 11px;
    display: inline-block;	
}
ul.blc_big_form li ul.intu li ul.in_two.rdb li{
	width: 40%;
	margin: 0;
}
ul.blc_big_form li ul.intu li ul.in_two.rdb li:last-child{
	width: 60%;
}
ul.blc_big_form li form textarea{
	width: 98%;
/*
	border-radius: 25px;
	border: 1px solid #a6a5a5;
	height: 150px;
*/
	padding: 10px 30px 10px 20px;
	color: #000;
	padding: 0 18px !important;
    height: 125px;
    border-radius: 25px;
    cursor: default !important;
    border: 0;	
}
.txtr {
    width: 100%;
    border-radius: 25px;
    border: 1px solid #a3a1a2;
    height: 150px;
    padding: 10px 0;
	position: relative;
}
.txtr .nicescroll-rails {
    margin-left: 0px;
    width: 1px !important;
    background: #494949 !important;
    display: block;
	z-index: 100 !important;
	position: relative;
    left: 96% !important;
    top: 12px !important;
	z-index: 10 !important;	
}
.txtr .nicescroll-rails div {
    float: none !important;
    display: block;
    border: 0 !important;
    border-radius: 0 !important;
    width: 1px !important;
    height: 200px !important;
    background: transparent !important;
}
.txtr .nicescroll-rails div:before {
    display: block;
    content: '';
    width: 42px;
    height: 40px;
    background: url(../images/form/radio_btn.png) 0 0 no-repeat !important;
    position: absolute;
    top: -12px;
    left: -20px;
    cursor: pointer;
}
textarea {
    resize: none;
}
.step2_2{
	position: relative;
	z-index: 10;
}
.step3{
	position: relative;
	z-index: 5;
}
/*----------------------------
    The file upload form
-----------------------------*/
#upload{}
.blc_fole_upl #drop{
    text-align: left;
}
.blc_fole_upl #drop:before, .blc_fole_upl #drop:after{
	content: "";
	display: table;
}
.blc_fole_upl #drop:after{
	clear: both;
}
.blc_fole_upl #drop a.dwn{
	position: relative;
	font-family: 'MyriadPro';
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #000;
	text-decoration: none;
	cursor: pointer;
	padding: 10px 0 0 50px;
    float: left;
    width: 160px;
}
.blc_fole_upl #drop a:hover{}
.blc_fole_upl #drop a.dwn:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: url('../images/form/dwn.png') no-repeat 0 0;
	width: 38px;
	height: 38px;
}
.blc_fole_upl #drop input{
    display:none;
}
.blc_fole_upl ul{
    list-style:none;
    margin: 30px 0 0 52px;
}
.blc_fole_upl ul li{
    position: relative;
}
.blc_fole_upl ul li:before, .blc_fole_upl ul li:after{
	content: "";
	display: table;
}
.blc_fole_upl ul li:after{
	clear: both;
}
.blc_fole_upl ul li input{
    display: none;
}
.blc_fole_upl ul li p{
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    color: #000;
    font-size: 15px;
	line-height: 15px;
	font-family: 'MyriadPro';
    font-weight: normal;
	float: left;
}
.blc_fole_upl ul li i{
    font-style:normal;
    color: #000;
    display: block;
    float: left;
    margin: 2px 0 0 5px;	
    font-size: 12px;
	line-height: 12px;
	font-family: 'MyriadPro';
    font-weight: normal;	
}
.blc_fole_upl  ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
	display: none;
}
.blc_fole_upl ul li span{
    width: 17px;
    height: 15px;
    background: url('../images/form/x.png') no-repeat;
    position: absolute;
    top: 1px;
    left: -42px;
    cursor: pointer;
}
.blc_fole_upl ul li.working span{
    height: 15px;
    background-position: 0 0;
}
.blc_fole_upl ul li.error p{
    color:red;
}
.blc_fole_upl a.dwn{
	position: relative;
	font-family: 'MyriadPro';
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #000;
	text-decoration: none;
}
.blc_fole_upl #drop p.desc{
    margin: 9px 0 0px 20px;
    float: left;
    width: 360px;
    font-family: 'MyriadPro';
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9e9e9e;
}
.blc_iagree{
	
}
.blc_iagree ul{
	margin: 0 0 0 10px;
}
.blc_iagree ul li{
	margin: 0 0 5px;
}
.blc_iagree ul li:last-child{
	margin-bottom: 0;
}
.blc_iagree ul li input[type=checkbox].css-checkbox {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}
.blc_iagree ul li input[type=checkbox].css-checkbox + label.css-label {
	padding-left: 42px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
    font-family: 'MyriadPro';
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #000;	
}
.blc_iagree ul li input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -295px;
}
.blc_iagree ul li label.css-label {
	background-image:url('../images/form/sp_check.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.blc_iagree ul li input[type=checkbox].css-checkbox + label.css-label a{
    font-family: 'MyriadPro';
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #9e9e9e;
	text-decoration: underline;
	font-style: italic;
}
.blc_iagree ul li input[type=checkbox].css-checkbox + label.css-label a:hover{
	text-decoration: none;
}
.blc_btn{
    margin: 0 0 0 53px;	
}
.blc_btn button{
	background: #00c969;
	border: 0;
	color: #fff;
	font-family: 'PTSans';
	font-size: 16px;
	line-height: 16px;
	border-radius: 25px;
	padding: 9px 32px 11px;
}
.upl_files ul {
    text-align: left;
    margin: 178px 0 -190px;
}
.upl_files ul li {
    display: inline-block;
	width: 171px;
    margin: 0 -4px 190px 45px;
    text-align: left;
}
.upl_files ul li .desc {
    position: relative;
}
.upl_files ul li .desc a {
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    position: relative;
    padding: 42px 0 0;
}
.upl_files ul li .desc a:before {
    content: "";
    position: absolute;
    background: url('/upload/img/sp_folder.png') no-repeat 0 -95px;
    width: 72px;
    height: 92px;
    top: -88px;
    left: 0;
}
.upl_files ul li a:hover:before {
    background-position: 0 0;
}
.tb2 .upl_files ul, .tb3 .upl_files ul {
    text-align: center;
	margin: 220px 0 -190px;
}
ul.list_tb2{
	font-size: 0;
}
ul.list_tb2 > li{
	display: inline-block;
	width: 45%;
	margin: 0 5% 0 0;
}
ul.list_tb2 > li:last-child{
	margin-right: 0;
}
ul.list_tb2 > li p{
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 20px;
    color: #000;
	margin: 0 0 40px;
}
ul.list_tb2 > li:first-child ul{
	text-align: left;
    margin: 140px 0 -190px;
}
ul.list_tb2 > li:first-child ul li{
    display: inline-block;
    width: 50%;
    margin: 0 -4px 190px 0;
    text-align: left;	
}
ul.list_tb2 > li:first-child ul li .desc {
    position: relative;
}
ul.list_tb2 > li:first-child ul li .desc a {
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    position: relative;
    padding: 42px 0 0;
}
ul.list_tb2 > li:first-child ul li .desc a:before {
    content: "";
    position: absolute;
    background: url('/upload/img/sp_folder.png') no-repeat 0 -95px;
    width: 72px;
    height: 92px;
    top: -88px;
    left: 0;
}
ul.list_tb2 > li:first-child ul li a:hover:before {
    background-position: 0 0;
}
ul.list_tb2 > li:last-child ul{}
ul.list_tb2 > li:last-child ul li{
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 18px;
    color: #545454;
	position: relative;
    padding: 0 0 0 27px;
	margin: 0 0 15px;
}
ul.list_tb2 > li:last-child ul li:before{
	content: "";
	background: url('../images/form/point.png') no-repeat 0 0;
	position: absolute;
	top: 6px;
	left: 0;
	width: 8px;
	height: 8px;
}
ul.list_tb2 > li:last-child ul li a{
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 18px;
    color: #545454;	
	text-decoration: none;
}
.tb3 ul.list_tb2 > li p {
    margin: 0 0 0px;
}
.tb3 ul.list_tb2 > li p a{
    font-family: 'MyriadPro';
    font-size: 36px;
    line-height: 36px;
    color: #000;	
	text-decoration: none;
    margin: 7px 0 0;
    display: block;	
}
.tb1 .upl_files ul {
    margin: 178px 0 -190px 7px;
}
/*Datapicker______________________________________________________________________*/
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
	background: #fff;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}

/*End Datapicker___________________________________________________________________*/
span.arv{
	background: url('../images/form/farrow_btm.png') no-repeat 0 0;
	width: 11px;
	height: 6px;
	position: absolute;
    right: 15px;
    top: 25px;
}
.input--filled span.arv{
	background: url('../images/form/farrow_top.png') no-repeat 0 0;
	width: 11px;
	height: 6px;
	position: absolute;
    right: 15px;
    top: 25px;
}
@media (max-width: 1450px){
	.navbar-default .navbar-nav>li>a {
		width: 185px;
	}
	.hphone {
		right: -70px;
	}	
}
@media (max-width: 1200px){
	ul.blc_big_form > li {
		width: 57%;
	}	
	ul.blc_big_form > li:first-child {
		width: 43%;
	}
	ul.blc_big_form li ul.intu.two_li li {
		width: 47.5%;;
	}
	ul.blc_big_form li ul.intu.two_li li ul.in_two li {
		width: 44%;
	}
	.blc_fole_upl #drop p.desc {
		width: 340px;
	}	
	ul.blc_big_form li ul.intu li ul.in_two.rdb li {
		margin: 0 0 5px 0;
	}
	.navbar-default .navbar-nav>li>a {
		width: 155px;
	}
	.hphone {
		right: -30px;
	}	
}
@media (max-width: 1080px){
	.hphone {
		right: -20px;
		font-size: 20px;
		line-height: 20px;
	}	
}
@media (max-width: 991px){
	.tb1 .blc_big_form li.vs{
		display: none;
	}
	ul.blc_big_form {
		font-size: 0;
		text-align: center;
	}
	ul.blc_big_form li{
		width: 550px;
		text-align: left;
	}
	.navbar-default .navbar-nav>li>a {
		width: 115px;
	}
	.hphone {
		right: -35px;
		font-size: 20px;
		line-height: 20px;
	}	
}
@media (max-width: 767px){
	.hphone {
		right: auto;
		font-size: 24px;
		line-height: 24px;
	}	
}
@media (max-width: 675px){
	.ftabs li p.vs {
		display: none;
	}	
	.ftabs li p.hd {
		display: block;
	}
	ul.list_tb2 > li {
		display: block;
		width: 100%;
		margin: 0px 0% 75px 0;
	}	
	.tb2 .upl_files ul, .tb3 .upl_files ul {
		text-align: center;
		margin: 95px 0 -190px;
	}	
}
@media (max-width: 580px){
	.ftabs li {
		display: block;
		margin: 0 auto 95px;
		width: 250px;
	}	
	.ftabs li:last-child{
		margin-bottom: 0;
	}
	ul.blc_pn_top_list li {
		width: 100%;
		margin: 0 0 26px 0;
	}	
	ul.blc_big_form li {
		width: 375px;
	}
	ul.blc_big_form li ul.intu li {
		width: 100%;
		margin: 0 0 26px 0;
	}
	ul.blc_big_form li ul.intu.two_li li {
		width: 100%;
		margin: 0 0 26px 0;
	}
	ul.blc_big_form li ul.intu.two_li li ul.in_two li {
		width: 100%;
	}
	ul.blc_pn_top_list li:last-child, ul.blc_big_form li ul.intu li:last-child, 
	ul.blc_big_form li ul.intu.two_li li:last-child {
		margin-bottom: 0;
	}
	.blc_fole_upl #drop p.desc {
		width: 190px;
	}	
}
@media (max-width: 414px){
	ul.blc_big_form li {
		width: 285px;
	}
	.blc_fole_upl #drop p.desc {
		width: 190px;
		margin: 25px 0 0px 53px;
	}
	ul.list_tb2 > li:first-child ul li {
		display:block;
		width: 100%;
	}
	.tb2 ul.list_tb2 > li:first-child ul {
		margin: 140px 0 -100px;
	}
	.tb2 ul.list_tb2 > li:first-child ul li {
		margin: 0 -4px 150px 0;
	}	
}
/*End Feedback_____________________________________________________________________________*/


/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}
.ui-datepicker {
	width: 298px;
	padding: 0 0 15px;
	display: none;
	background: #f5f5f5;
	border: 1px solid #b6b6b6;
    border-radius: 23px;	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
	padding-top: 20px;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 2px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 20px;
}
.ui-datepicker .ui-datepicker-next {
	right: 20px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 20px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 20px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: 0px;
	top: 37px;
	margin-top: -10px;
	background: url('../images/form/dpr.png') no-repeat 0 0;
	width: 17px;
	height: 23px;
	cursor: pointer;
 }
.ui-datepicker .ui-datepicker-prev span{
	margin-left: -10px;
	background: url('../images/form/dpl.png') no-repeat 0 0;
	width: 17px;
	height: 23px;	
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	font-size: 21px;
	font-family: 'Calibri';
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 85%;
	font-size: 14px;
	font-family: 'Calibri';
	border-collapse: collapse;
	margin: 0 auto .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
	color: #636363;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: center;
	text-decoration: none;
}
.ui-datepicker td a{
    width: 25px;
    height: 25px;
	border-radius: 100%;
    line-height: 20px;	
	margin: auto;
	color: #000;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;		
}
.ui-datepicker td a:hover{
	color: #07c96d;
	background: #dbdbdb;
	border-radius: 100%;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;		
}
.ui-datepicker td a.ui-state-highlight{
	background: #07c96d;
	border-radius: 100%;
    width: 25px;
    height: 25px;
    line-height: 20px;	
}
.ui-datepicker td a.ui-state-highlight:hover{
	color: #5c5c5c;
}
.ui-datepicker td a.ui-priority-secondary, .ui-datepicker td.ui-datepicker-other-month span, 
.ui-datepicker td.ui-state-disabled span.ui-state-default{
	color: #c5c5c5;
}
.ui-datepicker td a.ui-priority-secondary:hover{
	background: transparent;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}
.ui-datepicker th {
    border-bottom: 1px solid #e7e7e7;
/*
    padding: 0.2em 0.3em;
    font-weight: normal;
    font-size: 13px;
    color: #a2a2a2;
*/
}
/*_______________________________________________________________________________*/
.ui-datepicker-title .chosen-container{
    width: 90px !important;
    margin: 5px -12px 0 7px;
    float: left;
	display: block !important;
	overflow: visible !important;
	opacity: 1 !important;
}
.ui-datepicker-title .chosen-container-single .chosen-single {
    background: #fff;
    box-shadow: none;
    height: 30px;
    line-height: 30px;
    border: 1px solid #a6a5a5;
    border-radius: 15px;
    padding: 0 0 0 0px;
    color: #9e9e9e;
    font-family: 'MyriadPro';
    font-size: 14px;
	width: 90px;
	display: block;
	visibility: visible;
}
.ui-datepicker-title .chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #a6a5a5;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    background-image: none;
    background: #fff;
    box-shadow: none;
    padding: 0 0 0 0px;
}
.ui-datepicker-title .chosen-container-single .chosen-single div {
    position: absolute;
    top: 13px;
    right: -3px;
    display: block;
    width: 30px;
    height: 100%;
}

.ui-datepicker-title .chosen-container-active.chosen-with-drop .chosen-single, 
.ui-datepicker-title .chosen-container-active .chosen-drop, 
.ui-datepicker-title .chosen-container-active .chosen-single, 
.ui-datepicker-title .chosen-container.active .chosen-single {
    border-color: #a6a5a5 !important;
}
.ui-datepicker-title .chosen-container .chosen-results {
    color: #444;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 20px 20px 0;
    padding: 0 0 0 16px;
    max-height: 240px;
    font-family: 'MyriadPro';
    font-size: 14px;
    z-index: 10 !important;
    -webkit-overflow-scrolling: touch;
    text-align: left;
}
.ui-datepicker-title .chosen-container .chosen-results li {

    padding: 5px 0px;
}
.ui-datepicker-title .chosen-container .chosen-drop {
    border-radius: 0 0 15px 15px;
}
.ui-datepicker-title .chosen-drop .nicescroll-rails {
    margin-left: 3px;
    width: 1px !important;
    background: #494949 !important;
    display: block;
    z-index: 100 !important;
    position: relative;
}
.ui-datepicker .ui-datepicker-title {
    width: 200px;
	position: relative;
}
.ui-datepicker .ui-datepicker-title:after{
	content: "";
	position: absolute;
    background: #fff;
    height: 30px;
    line-height: 30px;
    border: 1px solid #a6a5a5;
    border-radius: 15px;
    padding: 0 0 0 0px;
    color: #9e9e9e;	
	top: 5px;
    bottom: 0;
    left: 107px;
    right: 0px;
    width: 90px;
    z-index: -1;
}
.ui-datepicker .ui-datepicker-title .ui-datepicker-month{
    width: 100px !important;
	display: inline-block;
	float: left;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    display: none !important;
	opacity: 0 !important;
}
/*Add oldfield search__________________________________________________________________*/
.two_li .chosen-container.chosen-container-active.chosen-with-drop a.chosen-single {
    border-radius: 30px;
    border-bottom: 0;
    position: relative;
    z-index: 120;
	background: #fff;
}
.two_li .chosen-container.chosen-container-active.chosen-with-drop .chosen-drop {
    background: #fff;
    top: 28px;
    /*padding-top: 48px;*/
	padding-top: 18px;
    z-index: 90;
    border: 1px solid #c3c2c3;
    border-top: 0;
	z-index: 130;
	/*display: none;*/
}

	.two_li .chosen-container.chosen-container-active.chosen-with-drop .chosen-drop.isactive {
    /**/padding-top: 18px!important;
	display: block;*/
	}

.two_li .chosen-container-single .chosen-search {
    position: absolute;
    width: 100%;
    margin: -41px 0 0 0px;
    background: #fff;
    border-radius: 50px;
}
.two_li .chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 17px 4px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #cacaca;
    border-radius: 5px;
    font: normal 16px/22px Calibri,Verdana,Helvetica,sans-serif;
}
.two_li .chosen-container.chosen-container-active.chosen-with-drop .chosen-search input[type="text"] {
    margin: 0px 0;
    padding: 11px 40px 0 17px;
    width: 100%;
    height: auto;
    outline: 0;
	color: #000;
    border: 0px solid #cacaca;
    border-bottom: 0;
    border-radius: 50px;
    font: normal 16px/22px Calibri,Verdana,Helvetica,sans-serif;
}
.two_li .chosen-drop {
    z-index: 100;
}
.two_li .chosen-container-single .chosen-search input[type="text"]{
	background: none;
}
.chosen-search .arw_cls{
    background: url('../images/form/farrow_top.png') no-repeat 0px 0px;
    width: 11px;
    height: 6px;
    position: absolute;
    top: 18px;
    right: 20px;	
	z-index: 250;
}
.two_li .chosen-container{
	width: 100% !important;
}
.two_li .chosen-container p.custom_txt{
	position: absolute;
    z-index: 152;
    margin: 18px 0 0 21px;
	color: #7c7c7c;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	opacity: 0;
}
.two_li .chosen-container p.custom_txt.activecity{
	margin: 2px 0 0 20px;
	color: #54d28c;
	font-size: 12px;
	opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;	
}