*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border:red 3px solid;
}
body input:required:valid,
body textarea:required:valid {
	border: green 3px solid;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li{
	margin: 0;
	padding: 0;	
}
ul, ol{
	list-style: none;
}
li{
	vertical-align: top;
}
img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.mp{
	margin: 0;
}
.pm{
	padding: 0;
}
.hides{
	display: none;
}
.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
}
.navbar-static-top{
	border: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #000;
  background-color: transparent;
  font-family: 'MyriadPro';
  font-weight: normal;
  font-size: 14px;
  text-shadow: none;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #000;
  background-color: transparent;
  font-family: 'MyriadPro';
  font-weight: normal;
  font-size: 14px;
  text-shadow: none;
}
.navbar-default .navbar-nav>li>a{
  color: #000;
  background-color: transparent;
  font-family: 'MyriadPro';
  font-weight: normal;
  font-size: 14px;
  line-height: 75px;
  text-shadow: none;	
  width: 165px;
/*  padding: 0 64px;*/
}
ul.navbar-nav{
    text-align: center;
    float: none;
    font-size: 0;	
}
.navbar-nav>li {
	text-align: center;
	float: none;
	display: inline-block;
	position: static;
	border-bottom: 0px solid transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;		
	height: 75px;
}
.navbar-nav>li.active{
  border-bottom: 0px solid #FC6134;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;		
}
.navbar-nav>li:hover{
  border-bottom: 0px solid #FC6134;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;		
}
.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  box-shadow: none;
  border: 0;
}
.navbar-collapse.in {
    overflow-y: visible;
}
.navbar-nav {
    margin: 0;
}
.navbar{
	margin-bottom: 0;
}
.navbar-brand {
    padding: 0;
}
.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav>li>a {
    padding: 0 0 0 0;
}
.navbar {
    min-height: 0px;
    margin-bottom: 0;
    border: 0px solid transparent;
    margin: 12px 0 -1px 0;
}
.navbar-nav>li .navIn{
    position: absolute;
    top: 78px;
    left: 0;
    right: 0;
    margin: auto;
	overflow: hidden;
}
.bg_menu .navbar-nav>li .navIn{
/*	display: none;*/
	height: 116px;
	/*-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;*/		
}
.bg_menu.active .navbar-nav>li.active .navIn{
	display: block;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;		
}

.blc_bg_menu {
	top: 0px !important;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

/*.hide_top_menu .bg_menu.active .navbar-nav>li.active .navIn{
	display: none !important;
}*/
.hide_top_menu {
	top: -90px !important;
}

.navbar-nav>li .navIn{
    width: 1070px;
}
/*
.navbar-nav>li .navIn ul.nav_in, .navbar-nav>li.active .navIn ul.nav_in{
    margin: 25px 0 0;	
}
*/
.navbar-nav>li .navIn ul.nav_in li{
	display: inline-block;
}
.navbar-nav>li .navIn ul.nav_in li a{
    color: #373838;
    font-family: 'MyriadPro';
    font-weight: normal;
    font-size: 14px;
	text-decoration: none;
    padding: 59px 30px 0;
	position: relative;
	display: block;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;		
}
.bg_header_prepend {
	/*background-position-y: 100% !important;*/
	/*height:*/ 
	overflow: hidden;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;	
}
.bg_image_prepend {
	/*background-position-y: 100% !important;*/
	margin-top: -15%;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
}
.bg_menu.active .navbar-nav.fixmenu > li.active .navIn ul.nav_in {
	  margin: 25px 0 0;
	opacity: 1;
}

/*.navbar-nav:not(.fixmenu) > li:hover .navIn {
	display: block;
}*/
/*.navbar-nav:not(.fixmenu)>li:hover .navIn{
	display: block;   
}*/
.navbar-nav:not(.fixmenu)>li.hover .navIn ul.nav_in{
    margin: 25px 0 0;
	opacity: 1;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;		
}
/*.navbar-nav>li .navIn {
	display: none;
}*/
.navbar-nav>li .navIn  ul.nav_in{
    margin: -75px 0 0;
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;	
}
/*.navbar-nav>li .navIn{
	display: none;
}*/

.line_menu{
    height: 3px;
    background: #FC6134;
    position: relative;
    width: 100px;
    display: block;
}



/*
.navbar-nav>li .navIn ul.nav_in li:first-child a{
    padding-left: 0;	
}
.navbar-nav>li .navIn ul.nav_in li:last-child a{
    padding-right: 0;	
}
*/
.navbar-nav>li .navIn ul.nav_in li.active a, .navbar-nav>li .navIn ul.nav_in li a:hover{
	color: #000;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;		
}
.navbar-nav>li .navIn ul.nav_in li a:before{
	content: "";
	background-position: 0 0;
	width: 53px;
	height: 45px;	
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;	
}
.navbar-nav>li .navIn ul.nav_in li:first-child a:before{
	background: url('../images/in1.png');
}
.navbar-nav>li .navIn ul.nav_in li:nth-child(2) a:before{
	background: url('../images/in2.png');
}
.navbar-nav>li .navIn ul.nav_in li:nth-child(3) a:before{
	background: url('../images/in3.png');
}
.navbar-nav>li .navIn ul.nav_in li:nth-child(4) a:before{
	background: url('../images/in4.png');
}
.navbar-nav>li .navIn ul.nav_in li:nth-child(5) a:before{
	background: url('../images/in5.png');
}
.navbar-nav>li .navIn ul.nav_in li:last-child a:before{
	background: url('../images/in6.png');
}
.navbar-nav>li .navIn ul.nav_in li a:hover:before{
	background-position: 0 -48px;	
}
.navbar-nav>li .navIn ul.nav_in li.active a:before{
	background-position: 0 -48px;	
}







h2{
	font-family: 'Avenir';
	font-weight: 100;
	color: #000;
	font-size: 45px;
	line-height: 45px;
}
h5 {
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 18px;
    color: #000;
}
h6{
	font-family: 'MyriadPro';
	font-size: 16px;
	line-height: 18px;
	color: #000;
}
p{
	font-family: 'MyriadPro';
	font-size: 14px;
	line-height: 17px;
	color: #7c7c7c;	
}
li{
	font-family: 'MyriadPro';
	font-size: 14px;
	line-height: 17px;
	color: #7c7c7c;		
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav>li>a {
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}