@import "fonts.css";
@import "main.css";
*{
    outline: none;
    margin: 0;
    padding: 0;
}
html,
body {
/*     height: 100%;*/
}
#header,.bg_main{
    width: 100%;
    height: 493px;
    position: relative;

}
#header.prepended,.bg_main.prepended {
    height: 493px;
    overflow: hidden;
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
    transition: all 1.3s;
}
.divimage{
    background-size: auto !important;
    background-position: 50% 60% !important;
    margin: -50px 0 0 0 !important;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.bg_main{
    background: url('../images/bg3_1_11.jpg') no-repeat 50% 0;

}
.bg_services{
    background: url('../images/bg_services.jpg') no-repeat 50% 0;
}
.bg_partners{
    background: url('../images/bg_partners.jpg') no-repeat 50% 0;
    background-size: cover;
}
.bg_contacts{
    background: url('../images/bg_contacts2.jpg') no-repeat 50% 100%;
}

.bg_active{
    background: url('../images/bg4_1.jpg') no-repeat 50% 100%;
}
.bg_main_wrapper {
    overflow-y: hidden;
    height: 493px;
    width: 100%;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -285px;
    padding: 0 0 285px;
}
.logo{
    margin: 7px 0 0 -50px;
    float: left;
    position: relative;
    z-index: 1001;
}
.container_pad{
    padding-left: 50px;
}
*, :after, :before{
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.offset{
    margin: -74px 0 0;
}
.bg_menu.top_fixed_menu{
    position: fixed;
    top:0;
    margin: 0;
    z-index: 20;
}
.bg_menu{
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.bg_menu.active{
    background: rgba(252, 250, 248, 0.6);
    padding-bottom: 120px;
    border-bottom: 1px solid rgba(251, 246, 241, 0.6);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.bg_menu.active.not_opst{
    background: rgba(252, 250, 248, 0.9);
}
.blc_bg_menu{
    width: 100%;
    min-height: 74px;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #fff;
    margin:0;
    position: fixed;
    top: 0;
    z-index: 90;
    height: 90px;
}
.blc_bg_menu:before, .blc_bg_menu:after{
    display: table;
    content: " ";
}
.blc_bg_menu:after{
    clear: both;
}
.top_fixed_menu{
    width: 100%;
    min-height: 74px;
    background: rgba(0,0,0, 0.74);
    margin:0;
    position: fixed;
    top: 0;
    z-index: 100;
}
.progress_bar {
    position: fixed;
}
.logo_fix{
    float: left;
    margin: 20px 0 0 -52px;
    display: none;
}
.logo_fix.active{
    display: block;
}
.btnI {
    margin: -53px 0 0;
    text-align: right;
}
.btnI a.btn_i{
    background: url('../images/sp_i.png') no-repeat 0 0;
    width: 36px;
    height: 36px;
    display: inline-block;
    margin: 0 0 0;
}
.btnI a.btn_i:hover{
    background-position: 0 -40px ;
}
.btnI a.btn_iW{
    background: url('../images/sp_iw.png') no-repeat 0 0;
}
.btnI a.btn_iW:hover{
    background-position: 0 -39px;
}
.pdng{
    margin-bottom: 41px;
}
ul.pena_list{
    margin: 0 0 0;
}
ul.pena_list li{
    margin: 0 0 15px 0;
    padding-left: 21px;
    position: relative;
}
ul.pena_list li:nth-child(2n+2){
    margin-right: 0;
}
ul.pena_list li:before{
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 6px;
    height: 6px;
    background: #545454;
    border-radius: 100%;
}
ul.row_pena_list li{
    float: none;
    width: auto;
}
ul.row_pena_list li:before{
    top: 6px;
}
ul.pena_list_four li{
    padding-left: 21px;
    position: relative;
}
ul.pena_list li:nth-child(4n+4){
    margin-right: 0;
}
.pensioner_admin a{
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 17px;
    color: #7c7c7c;
    text-decoration: none;
}
.pensioner_admin{
    margin: 72px 0 110px;
}
.pensioner_admin h2{
    margin: 0 0 53px;
}
.pensioner_admin h6{
    margin: 0 0 20px;
}
.pensioner_admin h6.hd{
    display: none;
}
.pensioner_admin p{
    width: 90%;
    margin: 0 0 15px;
}
.pensioner_admin p:last-child{
    margin-bottom: 0;
}
.pensioner_admin_circle_main{
    margin: 0;
}
ul.number_participants{
    margin: 142px 0 0;
    text-align: center;
}
ul.number_participants li{
    display: inline-block;
    text-align: left;
    position: relative;
}
ul.number_participants li p{
    color: #000;
}
ul.number_participants li p span{
    color: #7d7d7d;
}
ul.number_participants li p.number{
    font-size: 24px;
    line-height: 24px;
}
ul.number_participants li .crc{
    border: 14px solid #FC6134;
    border-radius: 100%;
    margin: 35px 0 0;
}
ul.number_participants li:first-child{
    width: 195px;
    margin: 0 30px 0 0;
}
ul.number_participants li:first-child .desc{
    margin: 101px 0 0 0;
}
ul.number_participants li:first-child .crc{
    width: 94px;
    height: 94px;
}
ul.number_participants li:nth-child(2){
    width: 255px;
    margin: 0 80px 0 0;
}
ul.number_participants li:nth-child(2) .desc{
    margin: 37px 0 0;
}
ul.number_participants li:nth-child(2) .crc{
    width: 220px;
    height: 220px;
}
ul.number_participants li:last-child{
    width: 310px;
}
ul.number_participants li:last-child .crc{
    width: 293px;
    height: 293px;
}
.pensioner_admin_folder_main{
    margin: 95px 0 0;
}
.pensioner_admin_folder_main ul{
    text-align: center;
    margin: 178px 0 0;
}
.pensioner_admin_folder_main ul li{
    display: inline-block;
    width: 25%;
    margin: 0 -4px 0 0;
    text-align: left;
}
.pensioner_admin_folder_main ul li .desc{
    position: relative;
}
/*
.pensioner_admin_folder_main ul li .desc:before{
    content: "";
    position: absolute;
    background: url('../images/sp_folder.png') no-repeat 0 -95px;
    width: 72px;
    height: 92px;
    top: -130px;
    left: 0;
}
*/
.pensioner_admin_folder_main ul li .desc:hover:before{
    background-position: 0 0;
}
.pensioner_admin_folder_main ul li .desc a{
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
    position: relative;
    padding: 42px 0 0;
}
.pensioner_admin_folder_main ul li .desc a:before{
    content: "";
    position: absolute;
    background: url('../images/sp_folder.png') no-repeat 0 -95px;
    width: 72px;
    height: 92px;
    top: -88px;
    left: 0;
}
.pensioner_admin_folder_main ul li a:hover:before{
    background-position: 0 0;
}
.pensioner_admin_folder_main ul li .desc a.hd{
    display: none;
}
#pcircles-24,#pcircles-14{
    position: absolute;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#pcircles-34,
#pcircles-31    {
    position: absolute;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



.bg_gray{
    margin: 105px 0 0;
    background: #f5f5f5;
    padding: 95px 0 85px;
}
.bg_gray ul.cnt{
    text-align: center;
    margin: 65px 0 0;
}
.bg_gray ul.cnt li{
    display: inline-block;
    margin: 0 -4px 0 0;
    width: 25%;
}
.bg_gray ul.cnt li a{
    text-decoration: none;
}
.bg_gray ul.cnt li .desc{
    position: relative;
}
.bg_gray ul.cnt li:first-child .desc:before{
    content: "";
    background: url('../images/sp_icons.png') no-repeat 0 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
}
.bg_gray ul.cnt li:first-child .desc:hover:before{
    background-position: 0 -47px;
}
.bg_gray ul.cnt li:nth-child(2) .desc:before{
    content: "";
    background: url('../images/sp_icons.png') no-repeat -54px 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
}
.bg_gray ul.cnt li:nth-child(2) .desc:hover:before{
    background-position: -54px -47px;
}
.bg_gray ul.cnt li:nth-child(3) .desc:before{
    content: "";
    background: url('../images/sp_icons.png') no-repeat -108px 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
}
.bg_gray ul.cnt li:nth-child(3) .desc:hover:before{
    background-position: -108px -47px;
}
.bg_gray ul.cnt li:last-child .desc:before{
    content: "";
    background: url('../images/sp_icons.png') no-repeat -162px 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    margin: auto;
}
.bg_gray ul.cnt li:last-child .desc:hover:before{
    background-position:  -162px -47px;
}
.double_tabs{
    margin: 95px 0 0;
}
.hor_tabs_fix{

}
.hor_tabs{
    text-align: center;
}
.hor_tabs_fix{
    background: rgba(255,255,255, 0.9);
    width: 100%;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
}
.hor_tabs.fixed{
    position: fixed;
    top: 74px;
    margin: 0;
    z-index: 9;
    background: #fff;
    padding: 30px 0;
}
.hor_tabs li{
    display: inline-block;
    margin: 0 30px;
    position: relative;
    cursor: pointer;
}
.hor_tabs li:first-child{
    margin-left: 0;
}
.hor_tabs li:last-child{
    margin-right: 0;
}
.hor_tabs li:after{
    content: '';
    background: #d1d1d1;
    border: 3px solid #d1d1d1;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: block;
    margin: 20px auto 0;
}
.hor_tabs li.active:after{
    content: '';
    background: #d1d1d1;
    border: 3px solid #07c96d;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: block;
    margin: 20px auto 0;
}
.hor_tabs li.active:first-child:after{
    background: #07c96d;
}
.hor_tabs li.active:last-child:after, .hor_tabs li:last-child:after{
    margin: 38px auto 0;
}
.hor_tabs li h5{
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 18px;
    color: #000;
}
.hor_tabs li h5.hd{
    display: none;
}
.ver_tabs{
    margin: 80px 0 0;
}
.ver_tabs li{
    position: relative;
    margin: 0 0 75px;
}
.ver_tabs li h5{
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 16px;
    color: #000;
    margin: 0 0 25px;
    cursor: pointer;
}
.ver_tabs li h5, .ver_tabs li .desc{
    padding: 0 0 0 110px;
}
.ver_tabs li .desc{
/*    display: none;*/
}
.ver_tabs li h5, .ver_tabs li .desc p{
    line-height: 18px;
}
.ver_tabs li .desc p span{
    margin: 0 35px 0 0;
}
.ver_tabs li .desc .desc_txt:before, .ver_tabs li .desc .desc_txt:after{
    display: table;
    content: " ";
}
.ver_tabs li .desc .desc_txt:after{
        clear: both;
}
.ver_tabs li .desc .desc_txt span{
    float: left;
    margin: 0 -24px 0 0;
}
.ver_tabs li .desc .desc_txt p{
    float: left;
    margin: 0 0 0 60px;
}
.ver_tabs li .direction{
    position: absolute;
    top: -15px;
    left: 0;
    background: url('../images/sp_tabs.png') no-repeat 0 0;
    width: 51px;
    height: 51px;
    cursor: pointer;
}
.ver_tabs li .direction.active{
    background-position: 0 -54px;
}
.part{
    text-align: center;
}
.part li{
    display: inline-block;
    margin: 0 56px;
    cursor: pointer;
}
.part li:first-child{
    margin-left: 0;
}
.part li:last-child{
    margin-right: 0;
}
.part li h5.hd{
    display: none;
}
.part li:after {
    content: '';
    background: #d1d1d1;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: block;
    margin: 38px auto 0;
}
.part li:nth-child(3):after{
    margin: 20px auto 0;
}
.part li.active:nth-child(3):after{
    margin: 20px auto 0;
}
.part li.active:after {
    content: '';
    background: #07c96d;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: block;
    margin: 38px auto 0;
}
.tabs_partners{
    margin: 0 0 35px;
}
.part {}
.part li {
    float: left;
    display: inline;
    position: relative;
}
.tabs__content {
    display: none;
}
.tabs__content.active {
    display: block;
    height: auto;
}
.funded_pension{
    margin: 110px 0 0;
}
ul.all_pack{}
ul.all_pack li{
    float: left;
}
ul.all_pack > li:first-child{
    width: 75%;
}
ul.all_pack li:first-child ul.fun li{
    width: 100%;
    border-bottom: 1px solid #00c969;
}
ul.all_pack li:first-child ul.charter li{
    width: 25%;
    border: 0;
    display: inline-block;
    margin: 0 -4px 0 0;
    text-align: left;
}
ul.all_pack > li:last-child{
    width: 25%;
}
ul.all_pack li:last-child ul.fun li{
    width: 100%;
    border-bottom: 1px solid #d1d1d1;
}
ul.all_pack li:last-child ul.charter li{
    width: 100%;
    border-bottom: 0;
    display: inline-block;
    width: 100%;
    margin: 0 -4px 0 0;
    text-align: left;
}
.tc1 ul.number_participants li:first-child .desc {
    margin: 108px 0 0 0;
}
.tc1 ul.number_participants li:first-child .crc {
    width: 64px;
    height: 64px;
    margin: 77px 0 0;
}
.tc1 ul.number_participants li:nth-child(2) .desc {
    margin: 65px 0 0;
}
.tc1 ul.number_participants li:nth-child(2) .crc {
    width: 204px;
    height: 204px;
    margin: 57px 0 0;
}
.tc1 ul.number_participants li:last-child .crc {
    width: 308px;
    height: 308px;
}
.tc2 ul.number_participants li:first-child .desc {
    margin: 115px 0 0 0;
}
.tc2 ul.number_participants li:first-child  .crc{
    margin: 64px 0 0;
}
.tc2 ul.number_participants li:nth-child(2)  .crc{
    margin: 53px 0 0;
}
.tc2 ul.number_participants li:nth-child(2) .desc {
    margin: 65px 0 0;
}
.tc2 ul.number_participants li:last-child .crc {
    width: 254px;
    height: 254px;
    margin: 64px 0 0;
}
.tc3 ul.number_participants li:first-child .desc {
    margin: 64px 0 0 0;
    margin: 80px 0 0 0;
}
.tc3 ul.number_participants li:first-child .crc {
    width: 64px;
    height: 64px;
    margin: 77px 0 0;
}
.tc3 ul.number_participants li:nth-child(2) .desc {
    margin: 22px 0 0;
    margin: 30px 0 0;
}
.tc3 ul.number_participants li:nth-child(2) .crc {
    width: 148px;
    height: 148px;
    margin: 84px 0 0;
}
.tc3 ul.number_participants li:last-child .crc {
    width: 192px;
    height: 192px;
    margin: 84px 0 0;
}
ul.fun{}
ul.fun li{
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 16px;
    color: #000;
    padding: 0 0 20px;
    float: left;
    width: 75%;
    border-bottom: 1px solid #00c969;
}
ul.fun li:last-child{
    float: left;
    width: 25%;
    border-bottom: 1px solid #d1d1d1;
}
.funded_pension ul.charter {
    text-align: center;
    margin: 185px 0 0;
}
.funded_pension ul.charter li {

}
.funded_pension ul.charter li .desc {
    position: relative;
}
.funded_pension ul.charter li .desc:before {
    content: "";
    position: absolute;
    background: url('../images/sp_folder.png') no-repeat 0 -95px;
    width: 72px;
    height: 92px;
    top: -130px;
    left: 0;
}
.funded_pension ul.charter li .desc:hover:before {
    background-position: 0 0;
}
.funded_pension ul.charter li .desc a {
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
}
.funded_pension ul.charter li .desc a.hd {
    display: none;
}
.pensioner_contact .hd{
    display: none;
}
.pensioner_contact{
    margin: 72px 0 91px;
}
.pensioner_contact h5{
    margin: 55px 0 30px;
}
.pensioner_contact ul.cnt {
    text-align: left;
    margin: 61px 0 -50px;
    font-size: 0;
}
.pensioner_contact ul.cnt li {
    display: inline-block;
    margin: 0;
    width: 345px;
    text-align: left;
    margin-bottom: 50px;
}
.pensioner_contact ul.cnt li:last-child{
}
.pensioner_contact ul.cnt li .desc {
    position: relative;
    padding-left: 60px;
}
.pensioner_contact ul.cnt li:first-child .desc:before {
    content: "";
    background: url('../images/i5.png') no-repeat 0 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -12px;
    left: 0;
    margin: auto;
}
.pensioner_contact ul.cnt li .desc p.green {
    font-family: 'MyriadPro';
    font-size: 18px;
    line-height: 18px;
    color: #ee7a64;
    margin: 0 0 20px;
}
.pensioner_contact ul.cnt li .desc p {
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 17px;
    color: #7c7c7c;
    margin: 20px 0 0;
}
.pensioner_contact ul.cnt li:nth-child(2) .desc:before {
    content: "";
    background: url('../images/i6.png') no-repeat 0 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -12px;
    left: 0;
    margin: auto;
}
.pensioner_contact ul.cnt li:last-child .desc:before {
    content: "";
    background: url('../images/i7.png') no-repeat 0 0;
    width: 51px;
    height: 44px;
    position: absolute;
    top: -10px;
    left: 0;
    margin: auto;
}
.pensioner_contact ul.cnt li .desc a {
    font-family: 'MyriadPro';
    font-size: 18px;
    line-height: 18px;
    color: #ee7a64;
    text-decoration: none;
}
.pensioner_contact ul.cnt li:last-child .desc a{
    color: #7c7c7c;
    font-size: 14px;
    line-height: 17px;
}
.bg_gray ul.cnt li .desc p.hd {
    display: none;
}
.product_details_map{
    margin: 0;
}
#map10 {
    width: 100%;
    height: 655px;
}
.bg_gray ul.cnt li .desc p.green{
    font-family: 'MyriadPro';
    font-size: 18px;
    line-height: 18px;
    color: #ee7a64;
    margin: 0 0 20px;
}
.bg_gray ul.cnt li .desc p{
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 18px;
    color: #545454;
}
.bg_gray ul.cnt li .desc p.hd{
    display: none;
}
.bg_gray ul.cnt li .desc a{
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 18px;
    color: #545454;
    text-decoration: none;
}
#footer {
    margin: 55px 0 0;
    height: 285px;
    background-color: #fff;
    position: relative;
}
.blc_safmar{
    text-align: center;
}
.footer_logos{
    margin: 65px 0 0;
    position: relative;
}
.footer_logos .logos{
    display: table;
    text-align: center;
    width: 100%;
}
.footer_logos .logos li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.footer_logos .logos li .bl {
    display: block;
    margin: auto;
}
.footer_logos .logos li .blg1 {
  display: block;
  background: url('../images/f1.png') no-repeat;
  background-position: 0 -26px;
  width: 158px;
  height: 23px;
}
.footer_logos .logos li .blg1:hover {
    background-position: 0 0;
}
.footer_logos .logos li .blg2 {
  display: block;
  background: url('../images/f2.png') no-repeat;
  background-position: 0 -53px;
  width: 124px;
  height: 50px;
}
.footer_logos .logos li .blg2:hover {
    background-position: 0 0;
}
.footer_logos .logos li .blg3 {
    display: block;
    background: url('../images/f3.png') no-repeat;
    background-position: 0 -34px;
    width: 128px;
    height: 31px;
}
.footer_logos .logos li .blg3:hover {
    background-position: 0 0;
}
.footer_logos .logos li .blg4 {
    display: block;
    background: url('../images/f4.png') no-repeat;
    background-position: 0 -32px;
    width: 196px;
    height: 29px;
}
.footer_logos .logos li .blg4:hover {
    background-position: 0 0;
}
.footer_logos .logos li .blg5 {
    display: block;
    background: url('../images/f5.png') no-repeat;
    background-position: 0 -68px;
    width: 65px;
    height: 65px;
}
.footer_logos .logos li .blg5:hover {
    background-position: 0 0;
}
.bg_ftr{
    background: url('../images/bg_footer.jpg') no-repeat 54% 0;
    width: 100%;
    height: 43px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.bg_gray_btm {
    background: #e9e9e9;
    padding: 68px 0 20px;
    position: relative;
}
.bg_gray_btm_cnt{
    margin: 0;
}
.bg_gray_btm ul.mst {
    text-align: left;
}
.bg_gray_btm ul.mst > li {
    display: inline-block;
    margin: 0 -4px 0 0;
    width: 25%;
    text-align: left;
}
.bg_gray_btm ul.mst > li:first-child{
    width: 320px;
}
.bg_gray_btm ul.mst > li:last-child{
    width: 199px;
}
.bg_gray_btm ul.mst > li ul {
}
.bg_gray_btm ul.mst > li ul li {
    display: block;
    width: 100%;
    margin: 0 0 20px;
}
.bg_gray_btm ul.mst > li ul li h4 {
    margin: 0 0 43px;
    font-family: 'MyriadPro';
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    color: #000;
}
.bg_gray_btm ul.mst > li a {
    font-family: 'MyriadPro';
    display: block;
    width: 80%;
    color: #737373;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    position: relative;
    text-align: left;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.bg_gray_btm ul.mst > li a:hover{
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.bg_gray_btm ul.mst > li a:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    margin: 2px 0 0;
    background-color: #ec4a1e;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.bg_gray_btm ul.mst > li a:hover:after {
    width: 100%;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.blc_gb_link_btm{
    margin: 30px 0 0;
}
.blc_gb_link_btm a{
    font-family: 'MyriadPro';
    color: #737373;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}
.blc_gb_link_btm a:first-child{
    margin-right: 44px;
}
.blc_lang{
    float: right;
    margin: 27px 0 0;
    position: relative;
    z-index: 1001;
    display: none;
}
.blc_lang ul.lang li {
    display: inline-block;
    margin: 0 0 0 0;
    color: #eb5036;
}
.blc_lang ul.lang li.active a {
    color: #07131a;
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 14px;
}
.blc_lang ul.lang li:nth-child(2) {
    margin: 1px 0 0;
}
.blc_lang ul.lang li {
    display: inline-block;
    margin: 0 0 0 0;
    color: #eb5036;
}
.blc_lang ul.lang li a {
    color: #eb5036;
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}
.swiper_slr .swiper-slide {
    text-align: center;
}
.swiper_slr .swiper-slide a{
    display: inline-block;
    text-align: center;
}
.swiper_slr .swiper-slide img{
    display: inline-block;
}
.swiper_slr .swiper-slide a:first-child img{
    margin-right: 35px
}
.footer_logos .swiper-button-next, .footer_logos  .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 8px;
    height: 21px;
    margin-top: -10px;
    z-index: 10;
    cursor: pointer;
       background-size: auto;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}
.footer_logos .swiper-button-prev{
    background-image: url("../images/slr_l.png");
    left: -25px;
    right: auto;
}
.footer_logos .swiper-button-next{
    background-image: url("../images/slr_r.png");
    right: -25px;
    left: auto;
}
.cnt_in {
    margin: 72px 0 130px;
}
.go_back{
    margin: 0 0 45px;
    height: 40px;
}
.go_back a.back_section{
    margin: 0 0 0;
    position: relative;
    text-decoration: none;
    padding-left: 41px;
    color: #000;
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.go_back a.back_section:hover{
    color: #444;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.go_back a.back_section:before{
    content: "";
    position: absolute;
    top: -9px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #ea4a1e transparent transparent;
}
.cnt_in h6 {
    margin: 0 0 20px;
}
.cnt_in p {
    width: 90%;
    margin: 0 0 15px;
}
.cnt_persone .persone_img{
    margin: 0;
    float: left;
    padding: 0 65px 45px 0;
}
.cnt_persone .persone_img img{
    max-width: 472px;
}
.tabs_corp{
    margin: 12px 0 60px;
}
.hor_tabs{
    text-align: center;
}
.hor_tabs li{
    display: inline-block;
    margin: 0 30px;
    position: relative;
    cursor: pointer;
}
.hor_tabs li:first-child{
    margin-left: 0;
}
.hor_tabs li:last-child{
    margin-right: 0;
}
.hor_tabs li:after{
    content: '';
    background: #d1d1d1;
    border: 3px solid #d1d1d1;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: block;
    margin: 20px auto 0;
}
.hor_tabs li.active:after{
    content: '';
    background: #d1d1d1;
    border: 3px solid #07c96d;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    display: block;
    margin: 20px auto 0;
}
.hor_tabs li.active:first-child:after{
    background: #07c96d;
}
.hor_tabs li.active:last-child:after, .hor_tabs li:last-child:after{
    margin: 38px auto 0;
}
.hor_tabs li h5{
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 18px;
    color: #000;
}
.hor_tabs li h5.hd{
    display: none;
}
.part_cp{
    text-align: center;
}
.part_cp li{
    display: inline-block;
    margin: 0 56px;
    cursor: pointer;
}
.part_cp li:after {
    content: '';
    background: #d1d1d1;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: block;
    margin: 38px auto 0;
}
.part_cp li.active:after {
    content: '';
    background: #ea491e;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: block;
    margin: 38px auto 0;
}
.tabs_partners{
    margin: 0 0 35px;
}
.part_cp {}
.part_cp li {
    float: none;
    display: inline-block;
    position: relative;
}
.tabs__content {
    display: none;
}
.tabs__content.active {
    display: block;
    height: auto;
}
.tab_mng ul.drd_list{
    text-align: left;
    font-size: 0;
}
.tab_mng ul.drd_list li{
    display: inline-block;
    width: 33.3333%;
    text-align: left;
}
.tab_mng ul.drd_list li .desc{
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.tab_mng ul.drd_list li .desc .desc_bg{
    position: absolute;
    width: 100%;
    height: 130px;
    top: auto;
    bottom: 0;
    opacity: 1;
    background: rgba(0,0,0, 0.49);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.tab_mng ul.drd_list li .desc:hover .desc_bg{
    top: auto;
    bottom: 0;
    opacity: 1;
    background: rgba(0,0,0, 0.59);
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.tab_mng ul.drd_list li .desc img{
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.tab_mng ul.drd_list li .desc:hover img{
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.tab_mng ul.drd_list li .desc .desc_bg .desc_txt{
    position: absolute;
    bottom: 24px;
    left: 65px;
    right: auto;
    width: 100%;
}
.tab_mng ul.drd_list li .desc .desc_bg .desc_txt a{
    text-decoration: none;
    position: relative;
}
.tab_mng ul.drd_list li .desc .desc_bg .desc_txt a:before{

}
.tab_mng ul.drd_list li .desc .desc_bg .desc_txt a h5{
    color: #fff;
    font-family: 'MyriadPro';
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 15px;
    position: relative;
    padding-left: 35px
}
.tab_mng ul.drd_list li .desc .desc_bg .desc_txt a h5:before{
    content: "";
    padding: 0px 30px 0 0;
    margin: 0 0 -15px;
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    top: -2px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ea4a1e;
}
.tab_mng ul.drd_list li .desc .desc_bg .desc_txt a p{
    color: #fff;
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 0 0 0 85px;
}
.tab_mng ul.drd_list li .desc .desc_bg .desc_txt span.trn{
/*
    padding: 0px 0 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ea4a1e;
*/
}
.objectives_financial_group{
    margin: 80px 0 0;
}
.objectives_financial_group ul.pena_list{
    margin: 22px 0 0;
}
.objectives_financial_group ul.pena_list li.hd{
    display: none;
}
.cnt_trio_persone {
    margin: 0;
}
.pointers{
    opacity: 0;
}
ul.drd_list{
    text-align: left;
    font-size: 0;
}
ul.drd_list li{
    display: inline-block;
    width: 33.3333%;
    text-align: left;
}
ul.drd_list li .desc{
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
ul.drd_list li .desc .desc_bg{
    position: absolute;
    width: 100%;
    height: 130px;
    top: auto;
    bottom: 0;
    opacity: 1;
    background: rgba(0,0,0, 0.49);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
ul.drd_list li .desc:hover .desc_bg{
    top: auto;
    bottom: 0;
    opacity: 1;
    background: rgba(0,0,0, 0.59);
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
ul.drd_list li .desc img{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
ul.drd_list li .desc:hover img{
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
ul.drd_list li .desc .desc_bg .desc_txt{
    position: absolute;
    bottom: 24px;
    left: 65px;
    right: auto;
    width: 100%;
}
ul.drd_list li .desc .desc_bg .desc_txt a{
    text-decoration: none;
    position: relative;
}
ul.drd_list li .desc .desc_bg .desc_txt a:before{

}
ul.drd_list li .desc .desc_bg .desc_txt a h5{
color: #fff;
    font-family: 'MyriadPro';
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 15px;
    position: relative;
    padding-left: 35px;
}
ul.drd_list li .desc .desc_bg .desc_txt a h5:before{
    content: "";
    padding: 0px 30px 0 0;
    margin: 0 0 -15px;
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    top: -2px;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ea4a1e;
}
ul.drd_list li .desc .desc_bg .desc_txt a p{
    color: #fff;
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 0 0 0 85px;
}
ul.drd_list li .desc .desc_bg .desc_txt span.trn{
/*
    padding: 0px 0 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ea4a1e;
*/
}
.tab_corporate{
    margin: 0 0 0;
}
.tab_corporate ul.part_cp{

}
.tab_corporate ul.part_cp li{
    margin: 0 56px;
}
.tab_corporate ul.part_cp li:first-child{
    margin-left: 0;
}
.tab_corporate ul.part_cp li:last-child{
    margin-right: 0;
}
.blc_active_group_ttl{
    margin: 0 0 40px;
}
.tab_corporate table{
    width: 100%;
    margin: 15px 0 0;
}
.tab_corporate table tr:first-child{
    border-top: 1px solid #bfbfbf;
}
.tab_corporate table tr{
    border-bottom: 1px solid #bfbfbf;
}
.tab_corporate table tr td:first-child{
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    padding: 9px 25px 9px 0;
}
.tab_corporate table tr td:first-child{
    color: #7c7c7c;
    width: 60%;
}
.tab_corporate table tr td:last-child{
    color: #000;
    width: 40%;
    text-align: left;
}
table.two_table tr:first-child{
    border-top: 0;
    border-bottom: 0;
}
table.two_table tr td:first-child{
    width: 50%
}
table.two_table tr td:nth-child(2){
    width: 25%;
}
table.two_table tr td:last-child{
    width: 25%
}
table.two_table tr:first-child td{
    text-align: center;
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 14px;
    color: #000;
}
table.two_table tr:nth-child(2) td{
    font-size: 14px;
    line-height: 16px;
    color: #7c7c7c;
    padding: 8px 0 10px;
}
ul.logo_list {
    display: table;
    width: 100%;
    margin: 45px 0 0;
}
ul.logo_list li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
ul.logo_list li a {
    color: #cecfd1;
}
ul.logo_list li .lg1 {
    background: url('../images/lg1.png') no-repeat;
    background-position: 0 0;
    width: 98px;
    height: 41px;
    margin: auto;
}
ul.logo_list li .lg1:hover {
    background-position: 0 -44px;
}
ul.logo_list li .lg2 {
    background: url('../images/lg2.png') no-repeat;
    background-position: 0 0;
    width: 110px;
    height: 39px;
    margin: auto;
}
ul.logo_list li .lg2:hover {
    background-position: 0 -42px;
}
ul.logo_list li .lg3 {
    background: url('../images/lg3.png') no-repeat;
    background-position: 0 0;
    width: 95px;
    height: 17px;
    margin: auto;
}
ul.logo_list li .lg3:hover {
    background-position: 0 -20px;
}
ul.logo_list li .lg4 {
    background: url('../images/lg4.png') no-repeat;
    background-position: 0 0;
    width: 104px;
    height: 52px;
    margin: auto;
}
ul.logo_list li .lg4:hover {
    background-position: 0 -55px;
}
ul.logo_list li .lg5 {
    background: url('../images/lg5.png') no-repeat;
    background-position: 0 0;
    width: 146px;
    height: 18px;
    margin: auto;
}
ul.logo_list li .lg5:hover {
    background-position: 0 -21px;
}
ul.logo_list li .lg6 {
    background: url('../images/lg6.png') no-repeat;
    background-position: 0 0;
    width: 94px;
    height: 17px;
    margin: auto;
}
ul.logo_list li .lg6:hover {
    background-position: 0 -20px;
}
ul.logo_list li .lg7 {
    background: url('../images/lg7.png') no-repeat;
    background-position: 0 0;
    width: 145px;
    height: 41px;
    margin: auto;
}
ul.logo_list li .lg7:hover {
    background-position: 0 -44px;
}
.tc3 table{
    margin: 0px 0 0;
}
.tc3  ul.logo_list{
    text-align: left;
    margin-top: 30px;
}
.tc3  ul.logo_list, .tc3  ul.logo_list li{
    text-align: left;
}
.tc3  ul.logo_list li .lg{
    background: url('../images/lg8.png') no-repeat;
    background-position: 0 0;
    width: 118px;
    height: 25px;
}
.tc3  ul.logo_list li .lg:hover{
    background-position: 0 -28px;
}



.tc5  ul.logo_list{
    display: block;
}
.tc5  ul.logo_list li{
    display: inline-block;
    margin: 0 40px 0 0;
}
.tc5  ul.logo_list li:last-child{
    margin-right: 0;
}
.tc5  ul.logo_list li .lg{
    background: url('../images/lg9.png') no-repeat;
    background-position: 0 0;
    width: 75px;
    height: 51px;
}
.tc5  ul.logo_list li .lg:hover{
    background-position: 0 -54px;
}

.tc5  ul.logo_list li .lg1{
    background: url('../images/lg10.png') no-repeat;
    background-position: 0 0;
    width: 49px;
    height: 50px;
}
.tc5  ul.logo_list li .lg1:hover{
    background-position: 0 -53px;
}
.tc5  ul.logo_list li .lg2{
    background: url('../images/lg11.png') no-repeat;
    background-position: 0 0;
    width: 79px;
    height: 37px;
}
.tc5  ul.logo_list li .lg2:hover{
    background-position: 0 -40px;
}
.tc5 table{
    margin: 0px 0 0;
}
.tc2 table{
    margin: 0px 0 0;
}
.tc2  ul.logo_list{
    text-align: left;
    margin-top: 30px;
}
.tc2 ul.logo_list, .tc3  ul.logo_list li{
    text-align: left;
}
.tc2 ul.logo_list li .lg{
    background: url('../images/lg12.png') no-repeat;
    background-position: 0 0;
    width: 123px;
    height: 50px;
}
.tc2 ul.logo_list li .lg:hover{
    background-position: 0 -53px;
}
ul.l_list{
    margin: -15px 0 0;
}
.blc_cut_circle{
    position: relative;
/*    background: url('../images/circle.png') no-repeat 0 0;*/
    width: 234px;
    height: 234px;
    margin: 85px auto 14px;
}
.blc_cut_circle .statistic{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 35px;
}
.blc_cut_circle .statistic p{
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 14px;
    color: #7c7c7c;
    margin: 0 0 2px;
    width: auto;
}
.blc_cut_circle .statistic span{
    font-family: 'MyriadPro';
    font-size: 24px;
    line-height: 24px;
    color: #000;
}
.blc_cut_circle .st1{
    top: 57px;
    bottom: auto;
    left: -149px;
    text-align: right;
    width: 120px;
    right: auto;
}
.blc_cut_circle .st2{
    top: 162px;
    bottom: auto;
    left: -284px;
    text-align: right;
    width: 255px;
    right: auto;
}
.blc_cut_circle .st3{
    top: auto;
    bottom: -53px;
    left: 9px;
    text-align: right;
    width: 43px;
    right: auto;
}
.blc_cut_circle .st4{
    top: auto;
    bottom: -44px;
    left: auto;
    text-align: left;
    width: 180px;
    right: -145px;
}
.blc_cut_circle .st5{
    top: auto;
    bottom: 98px;
    left: auto;
    text-align: left;
    width: 185px;
    right: -234px;
}
.blc_cut_circle .st6{
    top: -61px;
    bottom: auto;
    left: auto;
    text-align: left;
    width: 100px;
    right: -65px;
}
.blc_cut_circle .cr1{
    position: absolute;
    background: url('../images/cr1.png') no-repeat 0 0;
    width: 36px;
    height: 21px;
    top: -215px;
    left: -39px;
    right: 0;
    bottom: 0;
    margin: auto;
}
.blc_cut_circle .cr2{
    position: absolute;
    background: url('../images/cr2.png') no-repeat 0 0;
    width: 100px;
    height: 67px;
    top: -170px;
    left: 104px;
    right: 0;
    bottom: 0;
    margin: auto;
}
.blc_cut_circle .cr3{
    position: absolute;
    background: url('../images/cr3.png') no-repeat 0 0;
    width: 29px;
    height: 114px;
    top: 8px;
    left: 205px;
    right: 0;
    bottom: 0;
    margin: auto;
}
.blc_cut_circle .cr4{
    position: absolute;
    background: url('../images/cr4.png') no-repeat 0 0;
    width: 95px;
    height: 61px;
    top: 175px;
    left: 100px;
    right: 0;
    bottom: 0;
    margin: auto;
}
.blc_cut_circle .cr5{
    position: absolute;
    background: url('../images/cr5.png') no-repeat 0 0;
    width: 79px;
    height: 43px;
    top: 193px;
    left: -82px;
    right: 0;
    bottom: 0;
    margin: auto;
}
.blc_cut_circle .cr6{
    position: absolute;
    background: url('../images/cr6.png') no-repeat 0 0;
    width: 43px;
    height: 75px;
    top: 85px;
    left: -192px;
    right: 0;
    bottom: 0;
    margin: auto;
}
.blc_cut_circle .cr7{
    position: absolute;
    background: url('../images/cr7.png') no-repeat 0 0;
    width: 36px;
    height: 72px;
    top: -70px;
    left: -199px;
    right: 0;
    bottom: 0;
    margin: auto;
}
.blc_cut_circle .cr8{
    position: absolute;
    background: url('../images/cr8.png') no-repeat 0 0;
    width: 52px;
    height: 44px;
    top: -177px;
    left: -128px;
    right: 0;
    bottom: 0;
    margin: auto;
}
.blc_desc_foto{
    position: absolute;
    background: rgba(242, 243, 243, 0.44);
    width: 100%;
    padding: 21px 0 13px;
    bottom: 0;
    margin: -37px 0 0;
    text-align: right;
    opacity: 1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.blc_desc_fotoW{
    background: rgba(244, 245, 245, 0.9);
}
.blc_desc_foto.min{
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.blc_desc_foto p{
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 14px;
    color: #000;
    margin: 0 51px 5px 0px;
}
.swiper_foto ul.drd_list li, .swiper_foto2 ul.drd_list li{
    width: 100%;
}
.slr_our_clients.vs{}
.board_directors.hd{
    display: none;
}


.history_page{
    padding: 72px 0 168px;
}
.blc_schedule{
    position: relative;
    height: 430px;
    margin: 45px 0 0;
    overflow: hidden;
}
.blc_oundation{
    position: absolute;
    background: #7d7d7d;
    height: 1px;
    width: 100%;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
}
.blc_oundation:before{
    content: "";
    position: absolute;
    height: 10px;
    width: 1px;
    background: #7d7d7d;
    right: 0;
    left: auto;
}
.blc_oundation .year{
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
}
.blc_oundation .year:before{
    content: "";
    position: absolute;
    height: 10px;
    width: 1px;
    background: #7d7d7d;
    top: -16px;
}
.blc_oundation .ye1{
    right: auto;
}
.blc_oundation .ye2{
    right: auto;
    left: 174px;
}
.blc_oundation .ye3{
    right: auto;
    left: 348px;
}
.blc_oundation .ye4{
    right: auto;
    left: 522px;
}
.blc_oundation .ye5{
    right: auto;
    left: 696px;

}
.blc_oundation .ye6{
    left: auto;
    right: 140px;
}
.blc_all_sch{
    position: absolute;
    width: 130px;
    height: 160px;
    top: auto;
    bottom: 80px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all 1.8s;
    -moz-transition: all 1.8s;
    -ms-transition: all 1.8s;
    -o-transition: all 1.8s;
    transition: all 1.8s;
}
.blc_all_sch p{
    color: #000;
}
.blc_all_sch .vrt_line{
    position: absolute;
    height: 75%;
    width: 1px;
    background: #b2b2b2;
    left: 1px;
}
.blc_all_sch .big_s_circle{
    position: absolute;
    bottom: 0;
    top: auto;
    width: 60px;
    height: 60px;
    background: rgba(0,0,0, 0.49);
    border-radius: 100%;
    left: -28px;
    z-index: 9;
    -webkit-transition: all 1.8s;
    -moz-transition: all 1.8s;
    -ms-transition: all 1.8s;
    -o-transition: all 1.8s;
    transition: all 1.8s;
}
.big_all_crl{
    position: relative;
    height: 60px;
    top: 290px;
    z-index: -1;
}
.big_all_crl .big_in_scircle {
    position: absolute;
    bottom: 0;
    top: auto;
    width: 60px;
    height: 60px;
    background: rgba(0,0,0, 0.49);
    border-radius: 100%;
    left: -28px;
    z-index: 9;
    -webkit-transition: all 1.8s;
    -moz-transition: all 1.8s;
    -ms-transition: all 1.8s;
    -o-transition: all 1.8s;
    transition: all 1.8s;
}
.big_all_crl .big_allcrl1{
    left: 62px;
}
.big_all_crl .big_allcrl2{
    left: 378px;
}
.big_all_crl .big_allcrl3{
    left: 446px;
}
.big_all_crl .big_allcrl4{
    left: 527px;
}
.big_all_crl .big_allcrl5{
    left: 568px;
}
.big_all_crl .big_allcrl6{
    left: 609px;
}
.big_all_crl .big_allcrl7{
    left: 650px;
}




.big_all_crl .big_allcrl8{
    left: 697px;
}
.big_all_crl .big_allcrl9{
    left: 718px;
}
.big_all_crl .big_allcrl10{
    left: 739px;
}
.big_all_crl .big_allcrl11{
    left: 760px;
}
.big_all_crl .big_allcrl12{
    left: 780px;
}




.big_all_crl .big_allcrl13{
    left: 801px;
}
.big_all_crl .big_allcrl14{
    left: 821px;
}


















.blc_all_sch .big_in_scircle{
    position: absolute;
    bottom: 21px;
    top: auto;
    width: 18px;
    height: 18px;
    border: 1px solid #fefefe;
    background: #eb4325;
    border-radius: 100%;
    left: -7px;
    cursor: pointer;
    z-index: 700;
    -webkit-transition: all 1.8s;
    -moz-transition: all 1.8s;
    -ms-transition: all 1.8s;
    -o-transition: all 1.8s;
    transition: all 1.8s;
}
.blc_schedule .sch1{
    right: auto;
    left: 90px;
    height: 154px;
}
.blc_schedule .sch2{
    right: auto;
    left: 406px;
    height: 154px;
    width: 162px;
}
.blc_schedule .sch3{
    right: auto;
    left: 474px;
    height: 182px;
    width: 100px;
}
.blc_schedule .sch4{
    right: auto;
    left: 555px;
    height: 212px;
    width: 109px;
}
.blc_schedule .sch5{
    right: auto;
    left: 596px;
    height: 241px;
    width: 60px;
}
.blc_schedule .sch6{
    right: auto;
    left: 637px;
    height: 273px;
    width: 124px;
}
.blc_schedule .sch7{
    right: auto;
    left: 678px;
    height: 300px;
    width: 124px;
}
.blc_schedule .sch8{
    right: auto;
    left: 725px;
    height: 154px;
    width: 107px;
}
.blc_schedule .sch9{
    right: auto;
    left: 746px;
    height: 182px;
    width: 125px;
}
.blc_schedule .sch10{
    right: auto;
    left: 767px;
    height: 212px;
    width: 100px;
}
.blc_schedule .sch11{
    right: auto;
    left: 788px;
    height: 241px;
    width: 130px;
}
.blc_schedule .sch12{
    right: auto;
    left: 809px;
    height: 273px;
    width: 124px;
}
.blc_schedule .sch13{
    right: auto;
    left: 830px;
    height: 300px;
    width: 124px;
}
.blc_schedule .sch14{
    right: auto;
    left: 851px;
    height: 330px;
    width: 124px;
}
.blc_schedule .sch5 .vrt_line{
    height: 80%;
}
.blc_schedule .sch5 .vrt_line{
    height: 80%;
}
.blc_schedule .sch6 .vrt_line{
    height: 85%;
}
.blc_schedule .sch7 .vrt_line{
    height: 85%;
}
.blc_schedule .sch11 .vrt_line{
    height: 80%;
}
.blc_schedule .sch12 .vrt_line{
    height: 85%;
}
.blc_schedule .sch13 .vrt_line{
    height: 85%;
}
.blc_schedule .sch14 .vrt_line{
    height: 85%;
}

.blc_all_sch_txt{
    position: absolute;
    top: 30px;
    left: 0;
    width: 55%;
    -webkit-transform: translateY(-400px);
    -moz-transform: translateY(-400px);
    -ms-transform: translateY(-400px);
    -o-transform: translateY(-400px);
    transform: translateY(-400px);
    -webkit-transition: all 1.8s;
    -moz-transition: all 1.8s;
    -ms-transition: all 1.8s;
    -o-transition: all 1.8s;
    transition: all 1.8s;
}
.blc_all_sch_txt p{
    color: #000;
}
.blc_all_sch_txt.active{
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 1.8s;
    -moz-transition: all 1.8s;
    -ms-transition: all 1.8s;
    -o-transition: all 1.8s;
    transition: all 1.8s;
}
.ops{
    -webkit-transition: all 1.8s;
    -moz-transition: all 1.8s;
    -ms-transition: all 1.8s;
    -o-transition: all 1.8s;
    transition: all 1.8s;
    opacity: 0.3;
}
.blc_desc_detail{
    margin: 0;
}
.blc_desc_detail span.date{
    margin: 0;
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 16px;
    color: #989898;
}
.blc_desc_detail h5{
    font-family: 'MyriadPro';
    font-size: 18px;
    line-height: 21px;
    color: #000;
}
.blc_desc_detail ul.dd_list{
    font-size: 0;
}
.blc_desc_detail ul.dd_list > li{
    display: inline-block;
}
.blc_desc_detail ul.dd_list > li:first-child{
    width: 280px;
    margin: 0 84px 0 0;
}
.blc_desc_detail ul.dd_list > li:first-child h5{
    margin: 21px 0 0;
}
.blc_desc_detail ul.dd_list > li:last-child{
    width: 62%;
}
.blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news{
    margin: 31px 0 0;
}
.blc_desc_detail ul.dd_list > li:last-child  .blc_all_desc_news ul.np_list{
    font-size: 0;
    text-align: left;
    margin: 67px 0 0;
}
.blc_desc_detail ul.dd_list > li:last-child  .blc_all_desc_news ul.np_list li{
    display: inline-block;
    margin: 0 30px 0 0;
}
.blc_desc_detail ul.dd_list > li:last-child  .blc_all_desc_news ul.np_list li a{
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 16px;
    color: #000;
    text-decoration: none;
    position: relative;
}
.blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news ul.np_list li:first-child{}
.blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news ul.np_list li:nth-child(2){}
.blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news ul.np_list li:last-child{
    margin: 0 0 0 50px;
}
.blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news ul.np_list li a.prev{
    padding: 0 0 0 40px;
}
.blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news ul.np_list li a.next{
    padding: 0 40px 0 0;
}
.blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news ul.np_list li a.soc_shara{
    padding: 0 0 0 45px;
}
.blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news ul.np_list li a.prev:before{
    content: "";
    position: absolute;
    top: -9px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #ea4a1e transparent transparent;
}
.blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news ul.np_list li a.prev:hover{}
.blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news ul.np_list li a.next:before{
    content: "";
    position: absolute;
    top: -9px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #c7c7c7;
}
.blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news ul.np_list li a.next:hover{}
.blc_desc_detail ul.dd_list > li:last-child  .blc_all_desc_news ul.np_list li a.soc_shara:before{
    content: "";
    background: url('../images/sp_soc.png') no-repeat 0 0;
    width: 32px;
    height: 31px;
    position: absolute;
    top: -4px;;
    left: 0;
}
.blc_desc_detail ul.dd_list > li:last-child  .blc_all_desc_news ul.np_list li a.soc_shara:hover:before{
    background-position: 0 -35px ;
}
.blc_all_news{
    margin: 7px 0 0;
}
.blc_all_news h2{
    margin: 0 0 0;
    font-family: 'MyriadPro';
    font-size: 44px;
    line-height: 44px;
    color: #000;
    font-weight: normal;
}
.blc_pln div.ui-slider-horizontal {
    height: 1px;
    margin: 20px 0 0;
}
.blc_pln div.ui-widget-content {
    border: 0px solid #ddd;
    background: #ababab;
    color: #333;
}
.blc_pln div.ui-widget-header {
    border: 0px solid #e78f08;
    background: #ff0000;
    color: #fff;
    font-weight: bold;
}
.blc_pln .ui-state-default, .blc_pln .ui-widget-content .ui-state-default {
    border: 0px solid #c0c3c7;
    background: #ea491e;
    font-weight: bold;
    color: #1c94c4;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    margin-top: -4px;
    cursor: pointer;
}
.blc_pln input {
    background: transparent;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    text-align: center;
    padding: 0;
    margin: 10px 0px 0 3px;
    width: 45px;
    color: #000;
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 16px;
    color: #000;
    height: auto;
}
.line_years{
    margin-top: 42px;
}
.blc_all_news .blc_news_tr{
    display: inline-block;
    float: left;
    position: relative;
}
.blc_all_news .blc_pln{
    width: 270px;
}
.blc_news_tr #slider_year{
    float: left;
    width: 217px;
}
.blc_years_scl ul.era_list_years{
    font-size: 0;
    text-align: center;
    margin: 0 40px 0 40px;
}
.blc_years_scl ul.era_list_years li{
    display: inline-block;
    margin: 0 22px 0 0;
}
.blc_years_scl ul.era_list_years li:last-child{
    margin-right: 0;
}
.blc_years_scl ul.era_list_years li a{
    color: #969696;
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.blc_years_scl ul.era_list_years li a:hover{
    color: #000;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.blc_years_scl ul.era_list_years li.active a{
    color: #000;
}
.blc_years_scl ul.era_list_years li a.prev{
    padding: 0 0 0 38px;
}
.blc_years_scl ul.era_list_years li a.prev:before{
    content: "";
    position: absolute;
    top: -9px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #ea4a1e transparent transparent;
}
.blc_years_scl ul.era_list_years li a.next{
    padding: 0 38px 0 0;
}
.blc_years_scl ul.era_list_years li a.next:before{
    content: "";
    position: absolute;
    top: -9px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #c7c7c7;
}
.blc_all_news .blc_years_scl{
    margin: 11px 0 0 60px;
}
.blc_all_news .blc_rss{
    margin: 9px 0 0 60px;
}
.blc_all_news .blc_rss a{
    color: #000;
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.blc_link_on_news{
    margin: 117px 0 -77px;
}
.blc_link_on_news span.date{
    color: #cacaca;
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 16px;
}
.blc_link_on_news p{
    color: #000;
    font-family: 'MyriadPro';
    font-size: 18px;
    line-height: 21px;
    width: 90%;
    margin: 20px 0 37px;
}
.blc_link_on_news a{
    color: #000;
    font-family: 'Calibri';
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    font-weight: bold;
}
.blc_link_on_news .line_two_news{
    margin-bottom: 77px;
}
.arw_ln{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 40px;
}
.arw_list_news_prev{
    right: auto;
}
.arw_list_news_next{
    left: auto;
}
.arw_list_news_prev a{
    color: #969696;
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    position: relative;
    width: 20px;
    height: 40px;
    display: block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.arw_list_news_prev a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #c7c7c7 transparent transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.arw_list_news_prev a:hover:before, .arw_list_news_prev a.active:before{
    border-color: transparent #ea4a1e transparent transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.arw_list_news_next a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #c7c7c7;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.arw_list_news_next a:hover:before, .arw_list_news_next a.active:before{
    border-color: transparent transparent transparent #ea4a1e;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
a:focus, a:active{
    outline: none;
}

ul.np_list {
    font-size: 0;
    text-align: left;
    margin: 67px 0 0 364px;
}
ul.np_list li {
    display: inline-block;
    margin: 0 0px 0 0;
}
ul.np_list li a{
    padding: 0 0 0 0px;
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 16px;
    color: #000;
    text-decoration: none;
    position: relative;
}
ul.np_list li:first-child{
    margin-right: 30px;
}
ul.np_list li:first-child a{
    padding-left: 40px;
}
ul.np_list li:nth-child(2) a{
    padding-right: 40px;
}
ul.np_list li a:before, ul.np_list li a:hover:before{
}
ul.np_list li a.prev:before {
    content: "";
    position: absolute;
    top: -9px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #c7c7c7 transparent transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
ul.np_list li a.prev:hover:before {
    border-color: transparent #ea4a1e transparent transparent;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
ul.np_list li a.next:before {
    content: "";
    position: absolute;
    top: -9px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #c7c7c7;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
ul.np_list li a.next:hover:before {
    content: "";
    position: absolute;
    top: -9px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent #ea4a1e;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
ul.np_list li:last-child {
    margin: 0 0 0 80px;
}
ul.np_list li a.soc_shara {
    padding: 0 0 0 45px;
}
ul.np_list li a.soc_shara:before {
    content: "";
    background: url('../images/sp_soc.png') no-repeat 0 0;
    width: 32px;
    height: 31px;
    position: absolute;
    top: -4px;
    left: 0;
}
ul.np_list li a.soc_shara:hover:before {
    background-position: 0 -35px;
}



/*Main Page________________________________________________________________________*/
.blc_main_page{
    margin: 83px 0 115px;
}
.blc_main_page_ttl{
    margin: 0 0 65px;
}
.blc_main_page_ttl p{
    margin: 0 0 0;
    color: #000;
    font-family: 'MyriadPro';
    font-size: 18px;
    line-height: 21px;
}
.blc_main_page_ttl p strong{
    margin: 0 0 0;
}
.blc_main_page_ttl p.hd{
    display: none;
}
.blc_main_page .tab_corporate ul.part_cp{
    text-align: right;
}
ul.part_cp.opst{
    opacity: 0.4;
}
.blc_main_page .tab_corporate ul.part_cp li {
    margin: 0 45px;
}
.blc_start_animate{
    float: left;
    width: 30px;
    height: 30px;
    margin: 51px 0 0 0;
}
.blc_start_animate a.play_animate{
    display: inline-block;
    background: url('../images/sp_play.png') no-repeat 0 0;
    width: 19px;
    height: 27px;
}
.blc_start_animate a.play_animate:hover{
    background-position: 0 -30px;
}
.blc_start_animate a.play_animate.pause{
    display: inline-block;
    background: url('../images/sp_pause.png') no-repeat 0 0;
    width: 19px;
    height: 18px;
    margin: 6px 0 0;
}
.blc_start_animate a.play_animate.pause:hover{
    background-position: 0 -21px;
}

#pcircles-14 .circles-integer, #pcircles-14 .circles-decimals,
#pcircles-34 .circles-integer, #pcircles-34 .circles-decimals,
#pcircles-31 .circles-integer, #pcircles-31 .circles-decimals,
#pcircles-24 .circles-integer, #pcircles-24 .circles-decimals{
    display: none;
}
.blc_main_desc_tab {
    margin: 0 0 0;
    width: 460px;
}
.blc_main_desc_tab p{
    margin: 0 0 25px;
}
.blc_main_desc_tab p:last-child{
    margin-bottom: 0;
}
.circle .circles-text{
    text-align: left !important;
}
.circle .circles-text p{
    position: relative;
}
#circle11 .circles-text,
#circle51 .circles-text,
#circle31 .circles-text,
#circle12 .circles-text{
    text-align: left !important;
    width: 115px !important;
    top: -92px !important;
}
ul.number_participants li p span.number{
    font-family: 'MyriadPro';
    font-size: 24px;
    line-height: 24px;
    color: #000;
    display: inline-block;
    margin: 5px 0 0;
}
ul.number_participants li p span.str{
    font-size: 24px;
    line-height: 14px;
}
#circle21 .circles-text,
#circle23 .circles-text,
#circle22 .circles-text {
    width: 180px !important;
    top: -92px !important;
}
#circle31 .circles-text,
#circle33 .circles-text,
#circle32 .circles-text {
    width: 135px !important;
    top: -92px !important;
    left: 4px !important;
}
#circle31 #pcircles-14 .circles-text ,
#circle33 #pcircles-34 .circles-text ,
#circle33 #pcircles-31 .circles-text ,
#circle32 #pcircles-24 .circles-text {
    width: 145px !important;
    top: -172px !important;
    left: 122px !important;
}
.blc_main_page .blc_all_news h2{
    font-family: 'Avenir';
    font-size: 45px;
    line-height: 45px;
    font-weight: 100;
}
.blc_main_page .blc_all_news{
    margin: 88px 0 0;
}

.slider_year{
    float: left;
    width: 217px;
}
.tabs__content .blc_cut_circle {
    margin: 128px auto 78px;
}
#pcircles-13{
    width: 306px;
    height: 306px;
}
#circle31 #pcircles-13 .circles-text p:before{
    content: "";
    position: absolute;
    left: -22px;
    top: 6px;
    width: 7px;
    height: 7px;
    background: #ea491e;
    border-radius: 100%;
}
#circle31 #pcircles-14 .circles-text p:before{
    content: "";
    position: absolute;
    left: -22px;
    top: 6px;
    width: 7px;
    height: 7px;
    background: #c6c6c6;
    border-radius: 100%;
}
#circle32 #pcircles-23 .circles-text p:before{
    content: "";
    position: absolute;
    left: -22px;
    top: 6px;
    width: 7px;
    height: 7px;
    background: #ea491e;
    border-radius: 100%;
}
#circle32 #pcircles-24 .circles-text p:before{
    content: "";
    position: absolute;
    left: -22px;
    top: 6px;
    width: 7px;
    height: 7px;
    background: #c6c6c6;
    border-radius: 100%;
}
.tc1 ul.number_participants li:last-child {
    width: 306px;
}
.tc2 ul.number_participants li:last-child {
    width: 306px;
}
.tc3 ul.number_participants li:first-child{
    width: 186px;
    height: 186px;
    margin: 12px 36px 0 0;
}
.tc3 #pcircles-31, .tc3 #pcircles-31 .circles-wrp{
    width: 90px;
    height: 90px;
    top: 53px;
}
.tc3 #pcircles-32{
    width: 186px;
    height: 186px;
}
.tc3 #pcircles-32 .circles-text{
    top: -89px !important;
    left: -22px !important;
    width: 85px !important;
}
.tc3 #pcircles-32 .circles-text p:before{
    content: "";
    position: absolute;
    left: -22px;
    top: 6px;
    width: 7px;
    height: 7px;
    background: #ea491e;
    border-radius: 100%;
}
.tc3 ul.number_participants li:first-child .circles-text p span.str {
    line-height: 14px;
    font-size: 14px;
}
.tc3 ul.number_participants li:first-child .circles-text p span.number {
    display: inline-block;
    margin: 5px 0 0;
}
.tc3 #pcircles-31 .circles-text{
    top: -137px !important;
    left: 75px !important;
    width: 85px !important;
}
.tc3 #pcircles-31 .circles-text p:before{
    content: "";
    position: absolute;
    left: -22px;
    top: 6px;
    width: 7px;
    height: 7px;
    background: #c6c6c6;
    border-radius: 100%;
}
.tc3 ul.number_participants li:nth-child(2) {
    width: 306px;
    height: 306px;
}
#pcircles-33 .circles-text{
    width: 155px !important;
    top: -82px !important;
    left: 30px !important;
}
.tc3 ul.number_participants li:nth-child(2) .circles-text p span.number {
    display: inline-block;
    margin: 5px 0 0;
}

.tc3 ul.number_participants li:last-child .circles-text p span.number {
    display: inline-block;
    margin: 5px 0 0;
}
#pcircles-35 .circles-text p:before{
    content: "";
    position: absolute;
    left: -22px;
    top: 6px;
    width: 7px;
    height: 7px;
    background: #ea491e;
    border-radius: 100%;
}
.tc3 ul.number_participants li:last-child #pcircles-35 .circles-text p span.number{
    margin: 22px 0 0;
}
#circle33 #pcircles-34 .circles-text{
    width: 105px !important;
    top: -170px !important;
    left: 85px !important;
}
#circle33 #pcircles-34 .circles-text p:before{
    content: "";
    position: absolute;
    left: -22px;
    top: 6px;
    width: 7px;
    height: 7px;
    background: #c6c6c6;
    border-radius: 100%;
}
#circle33 #pcircles-34{
    width: 90px;
    height: 90px;
}
.tc3 ul.number_participants {
    margin: 122px 0 0;
    text-align: center;
}
.tc3 ul.number_participants li:last-child{
    margin: 57px 0 0;
    width: 250px;
    height: 250px;
}
#pcircles-51 .circles-text{
    width: 170px !important;
    top: -139px !important;
    left: -22px !important;
}
#pcircles-51 .circles-text p span.number{
    display: inline-block;
    margin: 12px 0 0;
}
#pcircles-51 .circles-text p span.str {
    display: none;
}
.tc5 ul.number_participants li:first-child{
    margin: 104px 0 0;
    width: 200px;
    height: 200px;
}
.tc5 ul.number_participants li:nth-child(2){
    margin: 34px 0 0;
    width: 200px;
    height: 200px;
}
.tc5 ul.number_participants li .circle{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#pcircles-52{
    width: 90px;
    height: 90px;
}
.tc5 ul.number_participants {
    margin: 184px 0 0;
}
.tc5 ul.number_participants li:first-child .desc{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.tc5 ul.number_participants li:nth-child(2) .desc{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.tc5 ul.number_participants li:nth-child(2) .desc #pcircles-52 .circles-text{
    margin: 0 0 0;
    top: 0 !important;
    left: 0 !important;
    width: 85px !important;
}
.tc5 ul.number_participants li:nth-child(2) .desc #pcircles-53 .circles-text{
    margin: 0 0 0;
    top: -134px !important;
    left: 115px !important;
    width: 125px !important;
}
.tc5 ul.number_participants li:nth-child(2) .desc .circles-text p span.str{
    display: none;
}
.tc5 ul.number_participants li:nth-child(2) .desc .circles-text p:before{
    content: "";
    position: absolute;
    left: -22px;
    top: 6px;
    width: 7px;
    height: 7px;
    background: #ea491e;
    border-radius: 100%;
}
.tc5 ul.number_participants li:nth-child(2) .desc #pcircles-53 .circles-text p:before{
    background: #c6c6c6 ;
}
.tc5 ul.number_participants li p span.number{
    display: inline-block;
    margin: 5px 0 0;
}
.tc5 ul.number_participants li:nth-child(2) .desc #pcircles-52 .circles-text{
    margin: 0 0 0;
    top: -189px !important;
    left: -68px !important;
    width: 86px !important;
}
.tc5 ul.number_participants li:last-child{
    width: 250px;
    height: 250px;
    margin: 0 0 0 135px;
}
.tc5 ul.number_participants li:last-child .desc{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.tc5 ul.number_participants li:last-child .desc .circles-text{
    margin: 0 0 0;
    top: -119px !important;
    left: -30px !important;
    width: 210px !important;
}
.tc5 ul.number_participants li:last-child .desc .circles-text p span.str{
    display: none;
}
.tabs__content{
    position: relative;
}
.blc_main_page .tab_corporate {
    margin: 0 0 30px;
}
#circle31 #pcircles-14 .circles-text{
    top: -170px !important;
}
/*End Main Page____________________________________________________________________*/
.cnt_persone ul.number_participants {
    margin: 126px 0 74px;
}
.cnt_persone #circle31 .circles-text{
    top: -108px !important;
}
.cnt_persone #circle31 .circles-text{
    top: -108px !important;
}
.cnt_persone #circle31 #pcircles-14 .circles-text {
    top: -186px !important;
}
.cnt_persone .tc3 ul.number_participants {
    margin: 71px 0 109px;
}
.cnt_persone .tc2 ul.number_participants {
    margin: 111px 0 74px;
}
.blc_charity_grf .tc5 ul.number_participants li:last-child .desc .circles-text {
    width: 235px !important;
}
.blc_charity_grf .tc5 ul.number_participants {
    margin: 153px 0 0;
}
.blc_charity_grf .tc5 ul.number_participants li:nth-child(2) .desc #pcircles-53 .circles-text {
    top: -134px !important;
    left: 115px !important;
    width: 140px !important;
}
.blc_charity_grf .tc5 ul.number_participants li:nth-child(2) .desc #pcircles-52 .circles-text {
    margin: 0 0 0;
    top: -189px !important;
    left: -68px !important;
    width: 100px !important;
}
.blc_lim_lib {
    margin: 72px 0 110px;
}
.blc_lim_lib h2 {
    margin: 0 0 53px;
}
.blc_lim_lib h6.hd{
    display: none;
}
.blc_lim_lib h6 {
    margin: 0 0 20px;
}
.blc_lim_lib p {
    width: 90%;
    margin: 0 0 15px;
}
.infi_disc h6{
    margin: 0 0 5px;
}
.infi_disc a{
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 17px;
    color: #7c7c7c;
    text-decoration: underline;
}
.infi_disc a:hover{
    text-decoration: none;
}
.blc_required_information ul{
    margin: 0 0 0 20px;
}
.blc_required_information ul > li{
    color: #000;
}
.blc_required_information ul > li > ul{
    margin: 10px 0 15px 20px;
}
.blc_required_information ul > li > ul li{
    margin: 0 0 5px;
}
.blc_required_information p{
    margin: 0;
    color: #444;
}
.blc_required_information p a{
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 14px;
    color: #444;
    text-decoration: underline;
}
.blc_required_information ul > li > ul li span{
    font-family: 'MyriadPro';
    font-size: 12px;
    line-height: 12px;
    color: #7c7c7c;
}
.blc_required_information h6{
    margin: 0 0 15px;
}
.blc_required_information a{
    font-family: 'MyriadPro';
    font-size: 14px;
    line-height: 14px;
    color: #444;
    text-decoration: underline;
}
.blc_required_information ul.info_tw_list{
    margin: 20px 0 0 0;
}
.blc_required_information ul.info_tw_list li{
    margin: 0 0 10px;
}
.blc_required_information ul.info_tw_list li a{
    font-family: 'MyriadPro';
    font-size: 16px;
    line-height: 18px;
    color: #000;
}
.blc_required_information ul.info_tw_list li span{
    font-family: 'MyriadPro';
    font-size: 12px;
    line-height: 12px;
    color: #7c7c7c;
}
.blc_all_main_tab{
    height: 563px;
}
.blc_nt_fx_cnt{
    width: 100%;
}
@media (min-width: 768px){
    .col-xs-15 {
        width: 20%;
        float:left;
        position: relative;
    }
}
@media (min-width: 1024px){
    .blc_nt_fx_cnt.active{
        width: 100%;
        background: rgba(255, 255, 255, 0.95);
        padding: 0;
        position: fixed;
        left: 0;
        right: 0;
        top: 90px;
        z-index: 450;
    }
    .blc_nt_fx_cnt.active .blc_fix_fltr{
        text-align: center !important;
        max-width: 1070px;
        margin: 30px auto 0;
    }
    .blc_nt_fx_cnt.active .tabs_corp {
        margin: 12px 0 30px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1070px;
    }
}
@media (max-width: 1440px){}
@media (max-width: 1200px){
    .navbar-default .navbar-nav>li>a,
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus {}
    .hor_tabs li {
        margin: 0 15px;
        height: 108px;
        width: 150px;
    }
    .ver_tabs li h5, .ver_tabs li .desc {
        padding: 0 0 0 95px;
    }
    .ver_tabs li .desc .desc_txt p {
        margin: 0 0 0 50px;
    }
    .part li {
        margin: 0 40px;
    }
    ul.all_pack > li:first-child {
        width: 70%;
    }
    ul.all_pack > li:last-child {
        width: 30%;
    }
    .hor_tabs li:last-child {
        margin-right: 15px;
    }
    .hor_tabs li:first-child {
        margin-left: 15px;
    }
    .btnI a.btn_i {
        margin: 0 -75px 0 0;
    }
    .bg_gray_btm ul.mst > li:first-child {
        width: 290px;
    }
    .bg_gray_btm ul.mst > li:last-child {
        width: 170px;
    }
    .tab_corporate ul.part_cp li {
        margin: 0 50px;
    }
    .footer_logos {
        margin: 35px 0 0;
    }
    .swiper_slr .swiper-slide a:first-child img {
        margin-right: 0;
    }
    .swiper_slr .swiper-slide a{
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .blc_all_news .blc_years_scl {
        margin: 11px 0 0 15px;
    }
    .blc_years_scl ul.era_list_years li {
        margin: 0 20px 0 0;
    }
    .blc_all_news .blc_rss {
        margin: 9px 0 0 15px;
    }
    .blc_main_page .tab_corporate ul.part_cp li {
        margin: 0 35px;
    }
    .tab_mng ul.drd_list li .desc .desc_bg .desc_txt {
        left: 0px;
    }
    .tab_mng ul.drd_list li .desc .desc_bg .desc_txt a h5:before {
        padding: 0px 15px 0 0;
    }
    .tab_mng ul.drd_list li .desc .desc_bg .desc_txt a p {
        padding: 0 0 0 70px;
    }
    ul.drd_list li .desc .desc_bg .desc_txt {
        left: 0px;
    }
    ul.drd_list li .desc .desc_bg .desc_txt a h5:before {
        padding: 0px 15px 0 0;
    }
    .blc_desc_detail ul.dd_list > li:last-child {
        width: 55%;
    }
}
@media (max-width: 1080px){
    .logo {}
    .logo_fix {
        float: left;
        margin: 20px 0 0 -2px;
        display: none;
    }
    .navbar-default .navbar-nav>li>a,
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus,
    .top_fixed_menu .navbar-default .navbar-nav>li>a,
    .top_fixed_menu .navbar-default .navbar-nav>li>a:hover,
    .top_fixed_menu .navbar-default .navbar-nav>li>a:focus {
        width: 135px;
    }
    .navbar-nav>li .navIn ul.nav_in li a {
        padding: 59px 15px 0;
    }
    .navbar-nav>li .navIn {
    }
    .btnI a.btn_i {
        margin: 0;
    }
}
@media (max-width: 1024px){
    .logo {
        margin: 7px 0 0 -23px;
    }
}
@media (max-width: 991px){
    .navbar-default .navbar-nav>li>a,
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus,
    .top_fixed_menu .navbar-default .navbar-nav>li>a,
    .top_fixed_menu .navbar-default .navbar-nav>li>a:hover,
    .top_fixed_menu .navbar-default .navbar-nav>li>a:focus {
        width: auto;
    }
    .blc_bg_menu{
        height: auto;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus{
        font-size: 18px;
        line-height: 30px;
    }
    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
        font-size: 18px;
        line-height: 30px;
    }
    .navbar-nav>li {
        text-align: right;
        display: block;
    }
    .navbar-nav>li .navIn {
        width: auto;
        position: static;
    }
    .navbar-nav>li .navIn ul.nav_in li a {
        padding: 0;
    }
    .navbar-nav>li.active .navIn ul.nav_in {
        margin: 0px 0 0;
    }
    .bg_menu .navbar-nav>li .navIn {
        height: auto;
    }
    .bg_menu, .bg_menu.active {
        padding-bottom: 15px;
    }
    .navbar-nav>li .navIn ul.nav_in li a:before{
        display: none;
    }
    .navbar-nav>li .navIn ul.nav_in li {
        display: block;
        margin: 0 0 10px;
    }
    .navbar-toggle {
        margin-right: 0;
        margin-top: 20px;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ec4a1e;
    }
    ul.number_participants {
        text-align: left;
        margin: 175px 0 0;
    }
    ul.number_participants li:first-child {
        width: 195px;
        margin: 0 25px 0 0;
    }
    ul.number_participants li:first-child .desc {
        margin: 52px 0 0 0;
    }
    ul.number_participants li:nth-child(2) {
        width: 255px;
        margin: 0 30px 0 0;
    }
    ul.number_participants li:nth-child(2) .desc {
        margin: 23px 0 0;
    }
    ul.number_participants li:nth-child(2) .crc {
        width: 155px;
        height: 155px;
    }
    ul.number_participants li:last-child {
        width: 200px;
    }
    ul.number_participants li:last-child .crc {
        width: 200px;
        height: 200px;
    }
    .pensioner_admin {
    }
    .pensioner_admin_folder_main ul li {
        width: 50%;
        margin: 0 -4px 200px 0;
    }
    .pensioner_admin_folder_main ul li:last-child, .pensioner_admin_folder_main ul li:nth-last-child(2){
        margin-bottom: 0;
    }
    .bg_gray ul.cnt li {
        margin: 0 -4px 120px 0;
        width: 50%;
    }
    .bg_gray ul.cnt li:last-child, .bg_gray ul.cnt li:nth-last-child(2){
        margin-bottom: 0;
    }
    h2 {
        font-size: 38px;
        line-height: 38px;
    }
    .part li {
        margin: 0 17px;
    }
    ul.all_pack li:first-child ul.charter li {
        width: 50%;
        border: 0;
        display: inline-block;
        margin: 0 -4px 0 0;
        text-align: left;
    }
    ul.all_pack li:first-child ul.charter li {
        width: 50%;
    }
    ul.all_pack li:first-child ul.charter li:nth-last-child(2), ul.all_pack li:first-child ul.charter li:last-child{
        margin-top: 200px;
    }
    ul.all_pack > li:first-child {
        width: 60%;
    }
    ul.all_pack > li:last-child {
        width: 40%;
    }
    .blc_lang {
        float: right;
        margin: 27px 0px 0 15px;
    }
    .bg_gray_btm ul.mst > li:first-child {
        width: 230px;
    }
    .bg_gray_btm ul.mst > li:last-child {
        width: 130px;
    }
    .logo {
        margin: 7px 0 0 0px;
    }
    ul.drd_list li {
        width: 50%;
    }
    .tab_corporate ul.part_cp li {
        margin-bottom: -40px;
    }
    .tab_corporate ul.part_cp li {
        margin: 0 0 40px;
        width: 160px;
    }
    .blc_main_page .tab_corporate ul.part_cp li {
        margin: 0 15px;
        width: auto;
    }
    .blc_main_page ul.number_participants li {
        display: block;
        text-align: center;
        position: relative;
        margin: 0 auto 140px;
    }
    .tc3 ul.number_participants li:first-child {
        width: 186px;
        height: 186px;
        margin: 12px auto 140px;
    }
    .tc3 #pcircles-31, .tc3 #pcircles-31 .circles-wrp{
         top: 0;
    }
    .tc3 ul.number_participants li:last-child {
        margin: 57px auto 0;
        width: 250px;
        height: 250px;
    }
    .tc5 ul.number_participants li:first-child {
        margin: 104px auto 140px;
        width: 70px;
        height: 70px;
    }
    .tc5 ul.number_participants li:nth-child(2) {
        margin: 34px auto 140px;
        width: 200px;
        height: 200px;
    }
    .tc5 ul.number_participants li:last-child {
        width: 250px;
        height: 250px;
        margin: 0 auto 135px;
    }
    #pcircles-51 .circles-text {
        width: 170px !important;
        top: -115px !important;
        left: -22px !important;
    }
    .tc5 ul.number_participants li:nth-child(2) .desc #pcircles-52 .circles-text {
        margin: 0 0 0;
        top: -145px !important;
        left: -68px !important;
        width: 86px !important;
    }
    .tc5 ul.number_participants li:nth-child(2) .desc #pcircles-53 .circles-text {
        margin: 0 0 0;
        top: -90px !important;
        left: 115px !important;
        width: 125px !important;
    }
    .tc5 ul.number_participants li:last-child .desc .circles-text {
        margin: 0 0 0;
        top: -90px !important;
        left: -30px !important;
        width: 210px !important;
    }
    table.two_table tr td:first-child {
        width: 40%;
    }
    table.two_table tr td:nth-child(2) {
        width: 30%;
    }
    ul.logo_list {
        display: block;
        width: 100%;
        margin: 45px 0px -35px;
    }
    ul.logo_list li {
        display: inline-block;
        margin: 0 50px 35px 0;
    }
    .tab_mng ul.drd_list li {}
    .tab_mng ul.drd_list li .desc .desc_bg .desc_txt {}
    .blc_desc_detail ul.dd_list > li:last-child {
        width: 100%;
        display: block;
    }
    .blc_all_news .blc_news_tr{
        float: none;
        margin: 10px 0 0 0;
    }
    .blc_all_news .blc_pln {
        width: 265px;
        margin: auto;
        display: block;
    }
    .blc_all_news .blc_years_scl{
        width: auto;
        margin: 50px auto 50px;
        display: block;
    }
    .blc_main_page_ttl p.vs {
        display: none;
    }
    .blc_main_page_ttl p.hd {
        display: block;
    }
    .blc_charity_grf .tc5 ul.number_participants {
        text-align: center;
    }
    .blc_charity_grf .tc5 ul.number_participants li{
        display: block;
        margin: 40px auto 140px;
    }
    .blc_all_main_tab{
        height: auto;
    }
    .blc_years_scl ul.era_list_years li {
        margin: 0 60px 0 0;
    }
    ul.np_list {
        margin: 67px 0 0 0;
    }
}
@media (max-width: 850px){
    h2 {
        font-size: 33px;
        line-height: 33px;
    }
    .tab_mng ul.drd_list li .desc .desc_bg .desc_txt a h5 {
        font-size: 17px;
        line-height: 17px;
        padding-left: 25px;
    }
}
@media (max-width: 767px){
    ul.navbar-nav {
        text-align: right;
    }
    .navbar-nav>li {
        display: block;
        text-align: right;
    }
    .navbar-default .navbar-nav>li>a {
    }
    .navbar-default .navbar-nav>li>a,
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus,
    .top_fixed_menu .navbar-default .navbar-nav>li>a,
    .top_fixed_menu .navbar-default .navbar-nav>li>a:hover,
    .top_fixed_menu .navbar-default .navbar-nav>li>a:focus {
        width: 100%;
    }
    .logo_fix.active {
        display: none;
    }
    .pensioner_admin {
    }
    h2 {
        font-size: 40px;
        line-height: 40px;
    }
    .top_fixed_menu .logo_fix {
        display: none;
    }
    ul.number_participants {
        text-align: center;
    }
    ul.number_participants li {
        text-align: center;
    }
    ul.number_participants li:first-child {
        width: 100%;
        margin: 0;
    }
    ul.number_participants li:first-child .desc {
        margin: 0 auto;
    }
    ul.number_participants li:first-child .crc {
        margin: 25px auto 0;
    }
    ul.number_participants li:nth-child(2) {
        width: 100%;
        margin: 0;
    }
    ul.number_participants li:last-child {
        width: 100%;
    }
    ul.number_participants li:nth-child(2) .crc {
        margin: 35px auto 0;
        width: 220px;
        height: 220px;
    }
    ul.number_participants li:last-child .crc {
        width: 293px;
        height: 293px;
        margin: 35px auto 0;
    }
    ul.number_participants li:nth-child(2) .desc {
        margin: 50px 0 0;
    }
    ul.number_participants li:last-child .desc {
        margin: 50px 0 0;
    }
    .footer_logos .logos li {
        display: block;
        vertical-align: top;
        text-align: center;
        margin: 0 auto 35px;
    }
    .footer_logos .logos li .bl {
        display: block;
        margin: auto;
    }
    .bg_ftr {
        background: url('../images/bg_footer.jpg') no-repeat 54% 0;
        position: static;
    }
    .pensioner_admin h2, .pensioner_contact h2{

    }
    .pensioner_admin .vsh{
        margin-top: 35px;
    }
    .hor_tabs li:first-child {
        margin-left: 15px;
    }
    .hor_tabs li:last-child {
        margin-right: 15px;
    }
    .pensioner_admin p {
        width: auto;
    }
    ul.number_participants {
        margin: 50px 0 0 0;
    }
    .part {
        margin: 30px 0 0;
    }
    .part li {
        float: none;
        display: inline-block;
        margin: 0 15px;
        height: 130px;
        width: 135px;
    }
    .part li:first-child {
        margin-left: 15px;
    }
    .part li:last-child {
        margin-right: 15px;
    }
    .pensioner_contact ul.cnt {
        margin: 61px 0 -50px;
        float: none;
        width: 100%;
    }
    .pensioner_contact {}
    .tabs__content ul.number_participants {
        text-align: center;
        margin-top: 20px;
    }
    .tabs__content ul.number_participants li{
        width: 100%;
        display: block;
        text-align: center;
        margin: 0 0 45px;
    }
    .tabs__content ul.number_participants li p{
        width: 100%;
    }
    .tabs__content ul.number_participants li .crc{
        margin: 20px auto;
    }
    .offset {
        margin: -74px 0 85px;
    }
    .bg_gray_btm ul.mst > li:first-child {
        width: 45%;
    }
    .bg_gray_btm ul.mst > li:last-child {
        width: 45%;
    }
    .bg_gray_btm ul.mst > li {
        display: inline-block;
        margin: 0 -4px 50px 0;
        width: 45%;
        text-align: left;
    }
    .bg_gray_btm ul.mst{
        margin-bottom: -50px;
    }
    #wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto 0;
        padding: 0;
    }
    #footer {
        margin: 55px 0 0;
        height: auto;
        background-color: #fff;
        position: relative;
    }
    .footer_logos {
        margin: 65px 0 75px;
    }
    ul.drd_list li .desc .desc_bg .desc_txt {}
    .blc_cut_circle .st1 {
        left: -130px;
    }
    .blc_cut_circle .st2 {
        left: -255px;
    }
    .blc_cut_circle .st6 {
        top: -11px;
    }
    .blc_cut_circle .st5 {
        right: -195px;
    }
    .blc_cut_circle .st4 {
        bottom: -25px;
        right: -130px;
    }
    .blc_cut_circle .st3 {
        bottom: -35px;
        left: 28px;
    }
    .footer_logos .swiper-button-prev {
        left: 15px;
    }
    .footer_logos .swiper-button-next {
        right: 15px;
    }
    .blc_link_on_news a {
        margin: 0 0 50px 0;
        display: inline-block;
    }
    .blc_link_on_news .line_two_news {
        margin-bottom: 0px;
    }
    .blc_link_on_news {
        margin: 50px 0 -77px;
    }
    .blc_link_on_news p {
        margin: 20px 0 15px;
    }
    .blc_main_page .tabs__content ul.number_participants {
        margin: 175px 0 0;
    }
    .blc_main_page ul.number_participants li {
        display: block;
        text-align: center;
        position: relative;
        margin: 0 auto 140px;
    }
    .blc_main_page ul.number_participants li:last-child{
        margin-bottom: 0;
    }
    .blc_main_page .tab_corporate ul.part_cp{
        text-align: center;
    }
    .blc_main_page .tab_corporate ul.part_cp li {
        margin: 0 0 40px;
        width: 165px;
        text-align: center;
    }
    .blc_start_animate {
        float: left;
        width: 30px;
        height: 30px;
        margin: 51px -30px 0 0;
    }
    .blc_lim_lib h6.hd{
        display: block;
    }
    .blc_lim_lib h6.vs{
        display: none;
    }
}
@media (max-width: 736px){
    .tab_corporate ul.part_cp{
        margin-bottom: -50px;
    }
    .tab_corporate ul.part_cp li {
        margin-bottom: 50px;
    }
    .blc_cut_circle {
        position: relative;
         background: none;
        width: auto;
        height: auto;
        margin: 20px auto 0px;
    }
    .blc_cut_circle .statistic {
        position: static;
        width: auto !important;
        text-align: left;
    }
    .blc_cut_circle .statistic:after, .blc_cut_circle .statistic:before{
        content: "";
        display: table;
    }
    .blc_cut_circle .statistic:after{
        clear: both;
    }
    .blc_cut_circle .statistic p{
        float: left;
        margin: 0;
        line-height: 24px;
    }
    .blc_cut_circle .statistic{
        margin: 0 0 5px;
    }
    .blc_cut_circle .statistic:last-child{
        margin-bottom: 0;
    }
    .blc_cut_circle .statistic span {
        font-family: 'MyriadPro';
        font-size: 24px;
        line-height: 24px;
        color: #000;
        margin: 0 0 0px 10px;
    }
    .blc_main_desc_tab {
        margin: 60px 0 0;
    }
    ul.drd_list li .desc .desc_bg .desc_txt {
        left: -20px;
    }
}
@media (max-width: 675px){
    ul.all_pack > li:first-child {
        width: 100%;
    }
    ul.all_pack > li:last-child {
        width: 100%;
        margin-top: 90px;
    }
    .cnt_persone .persone_img img {
        max-width: 100%;
    }
    .blc_years_scl ul.era_list_years li {
        margin: 0 35px 0 0;
    }
}
@media (max-width: 650px){
    .tab_mng ul.drd_list li .desc .desc_bg .desc_txt a h5 {
        font-size: 18px;
        line-height: 18px;
        padding-left: 35px;
    }
    ul.drd_list li {
        width: 100%;
    }
    ul.drd_list li .desc .desc_bg .desc_txt {
        position: absolute;
        bottom: 24px;
        left: 65px;
        right: auto;
        width: 100%;
    }
}
@media (max-width: 568px){
    .pensioner_contact ul.cnt li .desc p.green {
        margin: 0 0 10px;
    }
    ul.drd_list li {
        width: 100%;
    }
    .tab_mng ul.drd_list li {
        width: 100%;
    }
    .slr_our_clients.vs{
        display: none;
    }
    .board_directors.hd{
        display: block;
    }
    .tab_mng ul.drd_list li .desc .desc_bg .desc_txt {
        left: 55px;
    }
    .blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news ul.np_list li:last-child {
        margin: 55px 0 0 0;
        display: block;
        width: 100%;
    }
    .blc_years_scl ul.era_list_years li {
        margin: 0 20px 0 0;
    }
    ul.np_list li:last-child {
        margin: 0 0 0 35px;
    }
}
@media (max-width: 500px){
    .blc_years_scl ul.era_list_years {
        margin: 0 20px;
    }
}
@media (max-width: 484px){
    h2 {
        font-size: 33px;
        line-height: 33px;
    }
    ul.all_pack li:first-child ul.charter li{
        width: 100%;
    }
    ul.all_pack li:first-child ul.charter li:nth-child(2){
        margin-top: 200px;
    }
    .funded_pension ul.charter li .desc a.vs {
        display: none;
    }
    .funded_pension ul.charter li .desc a.hd {
        display: block;
    }
    .bg_gray_btm ul.mst > li:first-child {
        width: 90%;
    }
    .bg_gray_btm ul.mst > li:last-child {
        width: 90%;
    }
    .bg_gray_btm ul.mst > li {
        display: block;
        width: 90%;
    }
    .blc_gb_link_btm a {
        display: block;
        margin: 0 0 15px;
    }
    .blc_gb_link_btm a:last-child {
        margin-bottom: 0;
    }
    .bg_gray_btm ul.mst > li ul li h4 {
        margin: 0 0 10px;
    }
    .part_cp li {
        margin: 0 35px;
    }
    .blc_years_scl ul.era_list_years li {
        margin: 0 7px 0 0;
    }
    .blc_years_scl ul.era_list_years li a.prev {
        padding: 0 0 0 25px;
    }
    .blc_years_scl ul.era_list_years li a.next {
        padding: 0 25px 0 0;
    }
    .blc_link_on_news {
        margin: 50px 0 -77px;
    }
    .blc_years_scl ul.era_list_years li a {
        font-size: 14px;
        line-height: 14px;
    }
    .blc_main_desc_tab {
        margin: 0 0 0;
        width: auto;
    }
    ul.np_list li:last-child {
        margin: 0 0 0 20px;
    }
    ul.np_list li:last-child {
        margin: 65px 0 -65px 0;
        display: block;
    }
}
@media (max-width: 414px){
    ul.number_participants li:nth-child(2) .crc {
        width: 155px;
        height: 155px;
    }
    ul.number_participants li:last-child .crc {
        width: 200px;
        height: 200px;
    }
    .pensioner_admin_folder_main ul {
        margin: 165px 0 0;
    }
    .pensioner_admin_folder_main ul li .desc:before {
        top: -115px;
    }
    .pensioner_admin_folder_main ul li {
        width: 100%;
        margin: 0 0px 180px 0;
    }
    .pensioner_admin_folder_main ul li:nth-last-child(2) {
        margin-bottom: 180px;
    }
    .pensioner_admin_folder_main ul li .desc a.hd {
        display: block;
    }
    .pensioner_admin_folder_main ul li .desc a.vs {
        display: none;
    }
    .bg_gray ul.cnt li {
        margin: 0 0px 120px 0;
        width: 100%;
    }
    .bg_gray ul.cnt li:nth-last-child(2) {
        margin-bottom: 120px;
    }
    .part_cp li {
        margin: 0 15px;
    }
}
@media (max-width: 384px){
    h2 {
        font-size: 28px;
        line-height: 30px;
    }
    .tc1 ul.number_participants li:last-child .crc {
        width: 260px;
        height: 260px;
    }
    .pensioner_contact ul.cnt li .desc {
        padding-left: 45px;
    }
    .tc5 ul.logo_list li {
        display: inline-block;
        margin: 0 30px 0 0;
    }
    .blc_cut_circle .statistic p {
        font-size: 13px;
    }
    .tab_mng ul.drd_list li .desc .desc_bg .desc_txt {
        left: 25px;
    }
    .blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news ul.np_list li a.next {
        padding: 0 25px 0 0;
    }
    .blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news ul.np_list li a.prev {
        padding: 0 0 0 25px;
    }
    .blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news ul.np_list li a.next:before {
        top: -5px;
        border-width: 15px 0 15px 15px;
    }
    .blc_desc_detail ul.dd_list > li:last-child .blc_all_desc_news ul.np_list li a.prev:before {
        top: -5px;
        border-width: 15px 15px 15px 0;
    }
    .blc_years_scl ul.era_list_years li a {
        font-size: 13px;
        line-height: 13px;
    }
    .tc1 ul.number_participants li:last-child .desc .circles-wrp svg{
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    .tc2 ul.number_participants li:last-child .desc .circles-wrp svg{
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    .tc3 ul.number_participants li:nth-child(2) .desc .circles-wrp svg{
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    .tc1 ul.number_participants li:last-child {
        width: 270px;
    }
    .tc2 ul.number_participants li:last-child {
        width: 270px;
    }
    #pcircles-14{
        position: absolute;
        width: 115px;
        height: 150px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    ul.drd_list li .desc .desc_bg .desc_txt {
        left:  0px;
    }
    ul.drd_list li .desc .desc_bg .desc_txt a h5 {
        padding-left: 20px;
        font-size: 16px;
    }
}
@media (max-width: 375px){}
@media (max-width: 350px){
    .blc_years_scl ul.era_list_years li a {
    font-size: 11px;
    line-height: 11px;
}
}
@media (max-width: 320px){
    .bg_ftr {
        background: url('../images/bg_footer.jpg') no-repeat 53% 0;
    }
}

















